extends ../_includes/layout.pug

block head
	title Shift Nudge – Team

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content

	.sn-wrapper.sn-interior.sn-team
		include ../_includes/header-interior
		.sn-interior-content
			h1 Level-up your entire team
			p.callout It takes multiple 6-figure salaries to attract top design talent to your company. Level up your current team for a fraction of the cost.
			
			.sn-team-grid
				.sn-product-headers
					.product-package
						h5 Package
					.product-seats
						h5 Seats
					.product-discount
						h5 Discount
					.product-per
						h5 Per Seat
					.product-price
						h5 Price
					//- .product-cta
					//- 	h5 Buy

				//- Team 5 --------------------------------------------------
				- productNum		="5";
				- productPer		="1,422.15";
				- productPrice	="7,110.75";
				- productURL 		="https://transactions.sendowl.com/products/78346265/D752A13C/purchase"
				include ../_includes/product-row

				//- Team 10 --------------------------------------------------
				- productNum		="10";
				- productPer		="1,347.30";
				- productPrice	="13,473.00";
				- productURL 		="https://transactions.sendowl.com/products/78346618/333A90BB/purchase";
				include ../_includes/product-row

				//- Team 15 --------------------------------------------------
				- productNum		="15";
				- productPer		="1,272.45";
				- productPrice	="19,086.75";
				- productURL 		="https://transactions.sendowl.com/products/78346620/2F73D5AF/purchase";
				include ../_includes/product-row

				//- Team 20 --------------------------------------------------
				- productNum		="20";
				- productPer		="1,197.60";
				- productPrice	="23,952.00";
				- productURL 		="https://transactions.sendowl.com/products/78346621/5CE0512D/purchase";
				include ../_includes/product-row

				//- Team 25 --------------------------------------------------
				- productNum		="25";
				- productPer		="1,122.75";
				- productPrice	="28,068.75";
				- productURL 		="https://transactions.sendowl.com/products/78346622/8717E50C/purchase";
				include ../_includes/product-row

		.sn-team-faq
			.sn-mini-faq
				h6 What's Included?
				p Each of your team members will have full access to everything Shift Nudge has to offer—all 8 modules, 84 lessons, and over 30+ hours of design training. Plus they’ll each have access to the Critique Vault with 600+ design homework review videos produced by MDS.
				p Once you purchase the team package, we'll connect via email for a list of team members to invite to the Shift Nudge Notion workspace.
				p Due to the nature of these large team packages, payment plans and refunds are not available.
			
			.sn-mini-faq
				h6 Questions?
				p If you have any other questions about these plans, need more time to get budget approval, or would like to use alternate payment methods, please reach out to me directly at #[code(class="is-copy-able") matt@mds.is] with the subject line #[em Shift Nudge Team] and I’ll get back to you as fast as humanly possible.

		include ../_includes/foot-mini