//- hr
.sn-wrapper.sn-long-form.sn-story
	h2 Aesthetic is Leverage
	p Have you ever looked a a design and thought to yourself, #[em "Dang, that looks good!"]? What is it about really nice visual design that can bring out your emotions like that? You've seen it all around and maybe you've even made some nice designs yourself from time to time. But what actually makes it good?
	blockquote All "good" designs must absolutely nail the three pillars—typography, layout, and color. #[span 👌]
	p Well, good typography, layout, and color are an absolute must. Beyond that, Style is the lens that drives these three foundations forward. Style dictates what type of font you choose, how you layout your compositions, what color combinations you choose, and more. 

	p Once you have a handle on these items for your project, you can begin to apply your own styles to all of the interface bits and pieces with confidence.

	h4 Wouldn't it be nice to have a process for all of this?
	p Imagine, starting a new project and knowing the exact items to focus on to make the design look good—font sizes, font weight, hierarchy, readability, layout, grids, choosing colors, designing icons, and soooo much more.

	p What if you didn't have to fiddle around, pushing pixels here and there, and then ultimately give up frustrated because you weren't sure what to do?

	p While other people worry about some random design tactics they read about on Medium or saw on Dribbble, an entirely different sector of people have been quietly producing amazing design work for a living for years.

	p They’re quietly earning great money, building side projects, and (sometimes) sharing their passions with the world. 

	p #[em I know this, because I'm one of them...]