- highlightTeal 			="0, 255, 170";
- highlightYellow 		="255, 217, 26";
- highlightOrange 		="255, 140, 26";
- highlightRed				="255, 77, 106";
- highlightPink				="255, 51, 255";
- highlightPurple			="187, 51, 255";
- highlightBlue				="0, 170, 255";
- highlightLightBlue	="178, 218, 255";