hr
.sn-wrapper.sn-critique-vault
		//- .package-tag.package-tag-pro
		//- 	p Pro
		h2 Critique Vault
		p Shift Nudge offers you full access to watch a growing collection of over 600+ design critiques. These videos showcase live feedback by MDS on homework assignments by previous students.
		//- p.aa Can you find the hidden design critique demos? =)

		.sn-critique-grid
			include ../_includes/critiques.pug