.sn-wrapper.sn-faqs.sn-long-form
	h2 FAQs

	.sn-faq-grid.sn-grid-12
		.sn-faq
			h4 What if I don't like it?
			p There are no student discounts for this course. This is pro-level curriculum that you won’t find at universities AND it costs a tiny fraction of a university tuition. Considering that, the course is already heavily discounted.
		
		.sn-faq
			h4 What if I don't have a design background?
			p There is one free video from the course on Design File Organization. This is to give you an idea of the level of quality of the content that you can see for yourself. Other than this video, there is no free trial period for the course.

		.sn-faq
			h4 How is this different from other courses on the market?
			p I know $199+/mo is a lot in the developing world and there has definitely been lots of interest in the course in those markets. There may be alternate pricing later on, but for now there is only USD pricing.
		
		.sn-faq
			h4 Is there a way I can talk to MDS for a minute if I get stuck?
			p I’m pleased to offer a 30-day money back guarantee. Try the full course for a whole month and if it’s not for you, I’ll gladly refund you the full amount. I’ll even eat the credit card fees. I’m not happy if you’re not happy.
		
		.sn-faq
			h4 I don't want this to become yet another thing on my to-do list...
			p If you’d like to buy a sponsorship for an under priviledged student, you are 100% encouraged to do so. Go ahead and purchase the plan you’d like to gift as a sponsorship and we can work on the details afterwards via email.

		.sn-faq
			h4 What if I fall behind?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 What if I live in Europe or Asia or any other part of the world?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 How much time does it take to do this course per week?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 Is this course live or have any time requirements?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 Is there a community of Shift Nudge students I can connect with?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 What design tool is used for the lessons?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.

		.sn-faq
			h4 Does this cover apps or websites or both?
			p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.


		.sn-faq
			h4 This will work for you if...
			ul.sn-work-yes
				li You are awesome
				li You are so cool
				li You like design

		.sn-faq
			h4 This will work NOT work for you if...
			ul.sn-work-no
				li You are not awesome
				li You are not so cool
				li You no like design
