.sn-wrapper.sn-faqs.sn-long-form#faqs
	h2 FAQs

	.sn-faq-grid.sn-grid-12
		.sn-faq
			h4 What if I don't like it?
			p The last thing I want is for you to be stuck with something you don't like. You've got 30 days to try the whole course and if it's not for you, get your money back. Easy!
			p However—and this is important—only join if you intend to do the work. This course is not simply to consume information. It’s designed for you to take action. If you ask for a refund, you will be asked to show your completed work.
		
		.sn-faq
			h4 What if I don't have a design background?
			p It will be more challenging if you have no design experience at all, but the lessons are created in a way that any one can benefit. Not a problem!

		.sn-faq
			h4 How is this different from other courses on the market?
			p The main difference is I (MDS) am the one teaching it. I've lived and breathed everything I'm teaching for a very long time. This is not your "quick-tip-Instagram-carousel" type of design tutorial, it's in-depth and intensive.
		
		.sn-faq
			h4 Is there a way I can talk to MDS for a minute if I get stuck?
			p Yes, you can absolutely chat with me AND to other designers in the community. After you join Shift Nudge Pro, you'll gain access to the exclusive Slack channel where you can reach out for answers, feedback, and support when you need it.
		
		.sn-faq
			h4 I don't want this to become yet another thing on my to-do list...
			p Shift Nudge isn't just a big brain dump of design tactics. It's a complete, efficient SYSTEM for going from nothing to a working, professional interface designer. You can make progress by watching one lesson per day in just 15-30 minutes. Don’t focus on the worst that could happen—focus on the best that could happen once you use the material.

		.sn-faq
			h4 What if I fall behind?
			p Shift Nudge includes lifetime access so you can take a break from the material whenever you'd like. If you're out of town, on vacation, or just swamped for a few days. Pause and resume whenever you need to. There's no way to get "behind" because you get to choose your own pace.

		.sn-faq
			h4 What if I don't live in the United States?
			p People all over the world have used the course and found success. Shift Nudge teaches timeless principles that span across design tools, age, gender, race, and location.

		.sn-faq
			h4 How much time does it take to do this course per week?
			p 5-10 hours per week. The more time you put in, the faster you’ll see results. 5 hours is my recommendation, but because Shift Nudge comes with lifetime access, you can go faster or slower if you want.

		.sn-faq
			h4 What design tool is used for the lessons?
			p Shift Nudge was created to be highly useful without the need for using any specific design tool. While the majority of the live designs are created with Figma, there are also lots of lessons and case studies showing the use of Sketch, Framer, Adobe XD, and Invision Studio. You are encouraged to use any tool you'd like!

		.sn-faq
			h4 Does this cover apps or websites or both?
			p There is a really large variety of content for both responsive websites and mobile apps. Shift Nudge focuses primarily on interface design for applications and less so on big marketing sites. However, there are tons of key principles that can apply to both product and marketing design. 

		.sn-faq
			h4 This will NOT work if...
			ul.sn-work-no
				li If you're not interested in learning interface design inside and out.
				li You’re looking for a magic bullet without putting in the challenging work of understanding the principles to fully execute visually beautiful work from start to finish.
				li You’ve never done any type of design and expect to be a top-level expert by the end of the course. This course will point you in the direction not take you to your absolute final destination.
				li You’re simply looking for motivation or inspiration. You need to be after results and be willing to put in the hardwork.
				li You’re unemployed and don't have enough savings to invest in the course. Please don't expect this to be a saving grace if you don’t already have the means to join.

		.sn-faq
			h4 This WILL work for you if...
			ul.sn-work-yes
				li You’re ready to invest in yourself to learn a systematic process to make your interface designs look amazing.
				li You’re patient, deliberate, and methodical. You’re committed to spending the time to build a successful skill set you can use in all of your new design projects.
				li You're ready to have a reliable framework and approach for your visual design process.
				li You’re looking for a full system instead of an overwhelming amount of random tactics.
				li You have access to a computer and have internet connection. 
				li You're ready to look behind the curtains at a solid a methodical design process.
