.sn-foot
	.sn-legal
		h4 <span class="copyright">&copy;2019</span> MDS •   
			a(href="/privacy" class="glitch-txt")  Privacy

			//- .sn-qa
			//- 	h4 <a href="https://www.notion.so/Shift-Nudge-Q-A-242fbcedfe4b4ac69cf2bae6f8a8f86b">Ask a question<div>↗</div></a>