hr
.sn-wrapper
	.sn-footer
		.sn-footer-grid
			.sn-footer-piece
				h6 Note from MDS
				p Everything here—words, curriculum, recording, editing, design, code—was produced by my own two fallable human hands. I could've outsourced some of it to make the project go faster, but I wanted to personally showcase my own capabilities by using the exact same techniques that I teach in the course. Thanks for taking the time to check everything out!
				.mds-signoff
					.mds
						img(src='/_assets/img/mds-avatar.png' alt='mds headshot')
					.mds-signature
						include mds-signature
			.sn-footer-piece
				h6 Colophon
				ul
					li • Site designed in #[a(href="https://figma.com") Figma]
					li • Font used is #[a(href="#") TT Firs Neue]
					li • Analytics via #[a(href="#") GoSquared]
					li • Payments via #[a(href="#") SendOwl]
					li • Course hosted on #[a(href="#") Notion]
					li • AA Score via #[a(href="#") Contrast]
					li • Powered by Hand Coding™
			.sn-footer-piece
				h6 Links
				ul
					li: a(href="/core") Shift Nudge Core
						include line-arrow
					li: a(href="/pro") Shift Nudge Pro
						include line-arrow
					li: a(href="/coc") Code of Conduct
						include line-arrow
					li: a(href="refunds") Refund Policy
						include line-arrow
					li: a(href="terms") Terms of Service
						include line-arrow
					li: a(href="privacy") Privacy Policy
						include line-arrow
					li: a(href="faqs") FAQs
						include line-arrow
		.sn-legal
			p #[span(class="copyright") ©1982] MDS. All rights reserved.