.sn-wrapper.sn-long-form
	h2 Shift Nudge Guarantee
	h4 video here about the guarantee
	p Money back guarantee
	p Try the entire Shift Nudge course. If you don't LOVE it, I insist that you get 100% of your money back.
	p I’ll even eat the credit-card processing fees.
	h4 Why I offer this
	p I've invested thousands of hours of time on my craft
	p I've tested this material with hundreds of students
	p International students, experienced designers, and total beginners
	p Tested the whole course from beginning to end
	p Continue to refine and adjust
	P This is not my first course. I've created a handful of previous courses over the last 5 years and I've made everything better.
	p Added robust community to give you feedback and ongoing encouragement.
	p It's simple: Take the course and see for yourself. If it doesn't work, I want you to email me, prove you did the work, and I'll refund you 100%.
	p This guarantee is extended for a full 30 days, which is more than enough time to go through every module. Try the entire cousre. If you don't love it, just email me at ANY TIME during the first 30 days and show me you're doing the exercises and not getting results. I'll refund you 100%.
	p By the way, I ask you to show me you've done the exercises because I know how powerful they can be when applied. I have no intention of keeping your money if you're dissatisfied, but I insist that you commit to taking action if you want the results from this program.