.sn-wrapper.sn-long-form.sn-guarantee#guarantee
	h2 Shift Nudge Guarantee
	.sn-text.sn-grid-12
		p I'm not happy if you're not happy. If you don't absolutely love Shift Nudge, you get 100% of your money back. I'll even eat the credit-card processing fees.I proudly offer this risk-free guarantee because I've invested over a decade of time on honing my craft, thousands of hours on creating the curriculum for this course, and every bit of the material has been tested with hundreds of paying customers in the private beta—not just people who said it was great because they got it free. #[br]#[br]This guarantee is extended for a full 30 days, which is plenty of time to go through every module and try out the entire course. 

		p If you don't love it, just email me at any time during the first 30 days and show me you're doing the work and not getting results. I'll refund you 100%. I ask you to show me you've done the exercises because I know they work when properly applied. #[br]#[br] I have no intention of keeping your money if you're dissatisfied, but it's super important that you commit to taking action if you want results.