.sn-wrapper.sn-long-form#guarantee
	h2 Shift Nudge Guarantee
	.sn-text-video.sn-grid-12
		.sn-text
			p Try the entire Shift Nudge course. #[em If you don't absolutely love it, I insist that you get 100% of your money back.] I’ll even eat the credit-card processing fees. I offer this because I've invested over a decade of time on my craft and thousands of hours on creating this course and all of the material has been tested with hundreds of private beta customers.

			p This guarantee is extended for a full 30 days, which is plenty of time to go through every module. Try the entire course. If you don't love it, just email me at ANY TIME during the first 30 days and show me you're doing the exercises and not getting results. I'll refund you 100%. I ask you to show me you've done the exercises because I know how powerful they can be when applied.

			p I have no intention of keeping your money if you're dissatisfied, but it's vital that you commit to taking action if you want the results from this program.

		.sn-video
			.sn-video-wrap
				iframe(src="https://player.vimeo.com/video/400386046" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)