.sn-wrapper.sn-hero
	.sn-title
		.sn-logo
			include ../_includes/sn-logo-radial.pug
		h1 Shift <br> Nudge

		//- testing some anime.js stuff
		//- h1.ml7
		//- 	span.text-wrapper
		//- 		span.letters Shift <br> Nudge

		p.xlarge —a new online course that teaches you the intricate skills of designing visually beautiful interfaces, while balancing functionality and accessibility.
	