.sn-wrapper.sn-hero
	.sn-title
		.sn-logo
			include ../_includes/sn-logo-radial.pug
		h1 Shift Nudge 
		p.xlarge #[span Shift Nudge ] is a new online course that teaches the intricate skills of designing visually beautiful interfaces, while balancing functionality and accessibility.
		.sn-meta
			.sn-instructor
				img(src='/_assets/img/mds-avatar.png' alt='mds headshot')
				p Taught by #[a(href="#mds") MDS ]
			.sn-students
				a.sn-student-group(href="#reviews")
					.sn-student #[img(src='/_assets/img/students/yannik.jpg' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/boma.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/caden.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/anipier.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/jonah.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/chibuzor.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/michelle.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/bryan.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/liliia.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/tiffany.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/jenny.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/hasan.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/kakau.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/denis.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/stephen.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/davida.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/jack.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/diamond.png' alt='student headshot')]
					.sn-student #[img(src='/_assets/img/students/charlsy.png' alt='student headshot')]					
		hr