.sn-wrapper.sn-hero
	.sn-title
		.sn-logo
			include ../_includes/sn-logo-radial.pug
		h1 Shift <br> Nudge

		//- testing some anime.js stuff
		//- h1.ml7
		//- 	span.text-wrapper
		//- 		span.letters Shift <br> Nudge

		p.xlarge —a new online course that teaches you the intricate skills of designing visually beautiful interfaces, while balancing functionality and accessibility.
	hr
	.sn-desc
		p.callout Shift Nudge is a systematic process to learn the visual skills of interface design, even if you don't have a design background, even if you're not an expert, even if you’re overwhelmed with no idea where to start.
		ul.feature-list
			li <div>✓</div> Learn Typography
			li <div>✓</div> Learn Layout
			li <div>✓</div> Learn Color
			li <div>✓</div> Learn Style
			li <div>✓</div> Real World Case Studies
			li <div>✓</div> Slack Community
			li <div>✓</div> Step-by-step process
			li <div>✓</div> Rapid Results
	.sn-meta
		.sn-meta-container
			h2 8
			p modules
		.sn-meta-container
			h2 84
			p lessons
		.sn-meta-container
			h2 30 <div>+</div>
			p hours of video
		.sn-meta-container
			h2 500 <div>+</div>
			p design critiques

	.sn-quote-group

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Ramon Gilabert";
			- studentTitle	="Microsoft";
			- studentImage	="../_assets/img/students/ramon.png";
			- studentQuote	="I’ve taken many courses—recently a masters in interaction design—and I’ve read every book, but your course is by far the most comprehensive, well explained, well structured, and <em>most actionable resource in design I’ve ever taken.</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Boma Josia";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/boma.png";
			- studentQuote	="This is the most impactful design course I’ve ever taken. I especially love the tasks for each lesson and personal feedback from MDS. <em>It’s all been incredibly worthwhile!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Jenny Vogel";
			- studentTitle	="Growflow";
			- studentImage	="../_assets/img/students/jenny.png";
			- highlight			=highlightYellow;
			- studentQuote	="<em>I would’ve paid 4x more for this course</em>—Matt is an incredible teacher! This was exactly what I needed to take my designs to the next level.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Stephen Asonye";
			- studentTitle	="Order My Gear";
			- studentImage	="../_assets/img/students/stephen.png";
			- studentQuote	="Not gonna lie... this is the <em>best design course</em> I've ever taken.";
			include ../_includes/quote.pug