//- hr
.sn-wrapper
	.sn-how
		h2 How it works

		.sn-how-desc.sn-grid-12
			p.callout Shift Nudge is the system I’ve personally used for over 15+ years, for client big and small, across dozens of industries, and now hundreds of paying customers have too. It covers the entire design process for creating beautiful interfaces.
			ul.feature-list
				li <div>✓</div> How to master typography, layout and color specifically for mobile and desktop interfaces.
				li <div>✓</div> Start off slowly and choose topics you’re interested in or go through every single lesson in detail. I’ve helped hundreds of people do both. 
				//- li <div>✓</div> Advanced concepts for building design system components and tactics to for real-world scenarios
				li <div>✓</div> How to approach your designs with a trusted system so you never have to get stuck again.
		.sn-step-container.sn-grid-12
			.sn-step
				h6 1 – Access
				p Gain access to every lesson inside of Notion, all at once. No waiting around for content to slowly drip out.
				h2 1
			.sn-step
				h6 2 – Begin
				p Go through linearly from start to finish or find the most interesting topics relevant to you right now.
				h2 2
			.sn-step
				h6 3 – Absorb
				p Watch the videos, read the content, and do the homework. Watch previous design critiques in the vault.
				h2 3
			.sn-step
				h6 4 – Share
				p Share your designs and ask for feedback from the Shift Nudge Slack community.
				h2 4
			.sn-step
				h6 5 – Pace
				p There’s no time limit, or schedule to follow. Go through as fast or slow as you’d like.
				h2 5
			.sn-step
				h6 6 – Repeat
				p You have unlimited access. Revisit topics anytime as you encounter new challenges.
				h2 6


