//- layout.pug

html
  head
    block head
      title Shift Nudge

    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      meta(name="description" content="Prototype")
      meta(name="HandheldFriendly" content="True")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")

      meta(name='description', content="Shift Nudge is a new online course that covers all the nitty-gritty details of crafting the visual side of UI. The course is taught through the lens of UX, with a focus on designing beautiful and functional user interfaces.")

      //- Schema.org markup for Google+
      meta(itemprop='name', content='Shift Nudge')
      meta(itemprop='description', content="Shift Nudge is a new online course that covers all the nitty-gritty details of crafting the visual side of UI. The course is taught through the lens of UX, with a focus on designing beautiful and functional user interfaces.")
      meta(itemprop='image', content='https://shiftnudge.s3.us-east-1.amazonaws.com/web/shift-nudge-card-1.png')

      //- Twitter Card data
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@mds')
      meta(name='twitter:title', content='Shift Nudge')
      meta(name='twitter:description', content="Shift Nudge is a new online course that covers all the nitty-gritty details of crafting the visual side of UI. The course is taught through the lens of UX, with a focus on designing beautiful and functional user interfaces.")
      meta(name='twitter:creator', content='@mds')

      //- Twitter summary card with large image must be at least 280x150px
      meta(name='twitter:image:src', content='https://shiftnudge.s3.us-east-1.amazonaws.com/web/shift-nudge-card-1.png')

      //- Open Graph data
      meta(property='og:title', content='Shift Nudge')
      meta(property='og:type', content='article')
      meta(property='og:url', content='http://shiftnudge.com')
      meta(property='og:image', content='https://shiftnudge.s3.us-east-1.amazonaws.com/web/shift-nudge-card-1.png')
      meta(property='og:description', content="Shift Nudge is a new online course that covers all the nitty-gritty details of crafting the visual side of UI. The course is taught through the lens of UX, with a focus on designing beautiful and functional user interfaces.")
      meta(property='og:site_name', content='Shift Nudge')

      //- styles and scripts
      link(rel="stylesheet" type="text/css" href="/_assets/shiftnudge.css")
      link(id="favicon" rel="shortcut icon" type="image/png" href="/_assets/img/favicon.png")

  body
    block content

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js")
    script(type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js")
    script(type="text/javascript" src="/_assets/js/shiftnudge.js")

    //- Help Scout
    //- script(type='text/javascript').
    //-   !function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});
    //- script(type='text/javascript').
    //-   window.Beacon('init', '19855f1d-a737-451d-9702-079d865f6a4a')


    //- Go Squared
    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      _gs('GSN-175677-C');



