//- hr
.sn-wrapper
	.sn-mds
		h2 Hey, I'm Matt
		.sn-mds-intro
			img(src='/_assets/img/mds-avatar.png' alt='mds headshot')
			p.callout I earned my BFA in Graphic Design from UGA in 2005 and have specialized in interface design ever since.
			p I’ve led projects around the world, served as an adjunct design professor at UGA, guest lectured at Harvard, and taught workshops conferences all over. Now, I’m going to teach everything I know about the visual-side of designing great looking interfaces.
		.sn-mds-gallery.sn-grid-3
			figure.sn-mds-gallery-image
				figcaption My wife and four kids are everything
				img(src='/_assets/img/mds-gallery-01.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Ran my own studio for 15+ years
				img(src='/_assets/img/mds-gallery-02.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Led workshops at Epicurrence
				img(src='/_assets/img/mds-gallery-03.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Keynote speaker at Dribbble Hangtime
				img(src='/_assets/img/mds-gallery-04.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Guest interview at Adobe Headquarters
				img(src='/_assets/img/mds-gallery-05.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Led projects for clients all over the world
				img(src='/_assets/img/mds-gallery-06.png' alt='mds')
			figure.sn-mds-gallery-image.sn-outlier
				figcaption Comfortable slinging pixels and code
				img(src='/_assets/img/mds-gallery-07.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Design tutorials on YouTube
				img(src='/_assets/img/mds-gallery-08.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Creator of Flowkit
				img(src='/_assets/img/mds-gallery-09.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Designed Contrast for Mac
				img(src='/_assets/img/mds-gallery-10.png' alt='mds')
