hr
.sn-wrapper.sn-modules
	.sn-introduction
		h2 Shift Nudge
		p This course is absolutely jam-packed with all the best information for creating great visual design for interfaces. It's everything good about art school without the fluff and tailored specifically for digital interfaces.
		
	.sn-module-group.sn-grid-3

		//- module
		.sn-module.sn-module-start
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/1-start.pug
			.sn-module-content
				h3 Start 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 1h 17m</span>
				.sn-lessons
					ul
						li Welcome to the Course #[time 02:45]
						li How Everything Works #[time 04:25]
						li Pro-Designer Mindset #[time 04:29]
						li Choosing Design Software #[time 05:59]
						li UX vs. UI#[time 06:00]
						li Design Process Overview #[time 16:55]
						li Using Reference Material #[time 24:57]
						li Quick Keys Fast Workflow #[time 03:35]
						li Organizing Design Projects #[time 08:19]
						li Figma Organization #[time Text Only]
			
		//- module
		.sn-module.sn-module-typography
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/2-typography.pug
			.sn-module-content
				h3 Typography 
				.package-tag.package-tag-core
					p Core
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 4h 32m</span>
				.sn-lessons
					ul
						li Font Size  #[time 16:44]
						li Font Weight #[time 17:29]
						li Hierarchy #[time 25:42]
						li Titles #[span.sn-uppercase &amp;] Body #[time 31:32]
						li Callouts #[time 17:52]
						li Truncation #[time 36:21]
						li Text Style Definitions #[time 27:53]
						li Interactive Text #[time 25:20]
						li Combining Text #[span.sn-uppercase &amp;] Element #[time 22:59]
						li Start With System Fonts #[time 28:04]
						li Using Alternate Fonts #[time 22:23]

		//- module
		.sn-module.sn-module-layout
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/3-layout.pug
			.sn-module-content
				h3 Layout 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 4h 47m</span>
				.sn-lessons
					ul
						li The Box Model #[time 24:50]
						li Grids #[span.sn-uppercase &amp;] Containers #[time 28:34]
						li Implicit Grid #[time 23:41]
						li Negative Space #[time 21:54]
						li Alignment #[time 12:40]
						li Optics vs. Math #[time 24:49]
						li High #[span.sn-uppercase &amp;] Low Density #[time 28:18]
						li Scale, Weight, #[span.sn-uppercase &amp;] Hierarchy #[time 22:07]
						li Affordance #[time 19:25]
						li Interactive Layouts #[time 26:22]

		//- module
		.sn-module.sn-module-color
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/4-color.pug
			.sn-module-content
				h3 Color 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 5h 25m</span>
				.sn-lessons
					ul
						li Color Picking Methods #[time 23:17]
						li Contrast #[span.sn-uppercase &amp;] Accessibility #[time 26:57]
						li Structural vs. Interactive #[time 34:53]
						li First, Second, Third #[time 21:46]
						li Strategic Definitions #[time 16:58]
						li Amount #[span.sn-uppercase &amp;] Modification #[time 23:37]
						li Gradients #[time 31:49]
						li Nifty Shades of Grey #[time 14:13]
						li White #[span.sn-uppercase &amp;] Almost White #[time 25:20]
						li Secrets of Dark UI #[time 14:38]

		//- module
		.sn-module.sn-module-style
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/5-style.pug
			.sn-module-content
				h3 Style 
				.package-tag.package-tag-pro
					p Pro
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 5h 06m</span>
				.sn-lessons
					ul
						li Design Direction #[time 27:32]
						li Subtlety is Key #[time 19:59]
						li Corner Radius #[time 36:34]
						li Borders #[span.sn-uppercase &amp;] Dividers #[time 31:15]
						li Depth, Lighting and Shadow #[time 27:30]
						li Opacity #[span.sn-uppercase &amp;] Blur #[time 24:18]
						li Deconstructing Styles #[time 73:08]
						li Button Styles #[time 23:04]
						li Marketing Site Style #[time 21:41]
						li Form vs. Function #[time 21:53]

		//- module
		.sn-module.sn-module-imagery
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/6-imagery.pug
			.sn-module-content
				h3 Imagery 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 08m</span>
				.sn-lessons
					ul
						li Imagery Overview #[time 11:46]
						li Static Images #[time 21:48]
						li To Rasterize or Not #[time 12:38]
						li Dynamic Images #[time 19:30]
						li Blend Modes #[time 18:23]
						li Photo Manipulation #[time 26:46]
						li Resourceful Assets #[time 17:42]
						li Creating Icons #[time 24:01]
						li Using Icons #[time 25:20]
						li Simple Illustrations #[time 29:32]
						li App Icons #[time 12:45]

		//- module
		.sn-module.sn-module-elements
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/7-elements.pug
			.sn-module-content
				h3 Elements 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 14m</span>
				.sn-lessons
					ul
						li Introduction #[time 01:34]
						li Navigation #[time 23:42]
						li User Input #[time 12:52]
						li Forms #[time 33:52]
						li Profile #[time 18:38]
						li Settings #[time 16:52]
						li Lists #[span.sn-uppercase &amp;] Cards #[time 15:49]
						li Detail Screens #[time 12:51]
						li Sorting #[span.sn-uppercase &amp;] Filtering #[time 18:58]
						li Modals #[time 13:58]
						li Tables #[time 27:14]
						li Design Systems #[time 41:29]

		//- module
		.sn-module.sn-module-tactics
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/8-tactics.pug
			.sn-module-content
				h3 Tactics 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 09m</span>
				.sn-lessons
					ul
						li No-stress Experiments #[time 18:21]
						li Low-Fidelity Designs #[time 16:40]
						li Mobile-First Responsive #[time 38:39]
						li iOS Design #[time 23:42]
						li Material Design #[time 09:50]
						li Design Doc Organization #[time 22:28]
						li Leading Design Reviews #[time 20:07]
						li Prototyping #[time 01:11]
						li Developer Handoff #[time 17:22]
						li Pricing #[span.sn-uppercase &amp;] Getting Work #[time 24:39]


			//- module
		.sn-module.sn-module-critique
			.sn-module-icon
				<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle class="sn-logo-bg" cx="40" cy="40" r="40" fill="#111111"/>
				<path class="sn-logo-shape" d="M39.0873 15.5795C41.8843 12.7824 46.6668 14.7634 46.6668 18.719V34.6668L55.5271 43.5271C57.261 45.261 57.261 48.0723 55.5271 49.8062L40.9129 64.4204C38.1158 67.2175 33.3333 65.2365 33.3333 61.2809V45.3331L24.4731 36.4728C22.7391 34.7389 22.7391 31.9276 24.4731 30.1937L39.0873 15.5795Z" fill="white"/>
				</svg>
			.sn-module-content
				h3 Critique Vault 
				.package-tag.package-tag-pro
					p Pro
				p Over 600+ design reviews
				.sn-lessons
					ul
						li Get Started #[time 60+ Videos]
						li Typography #[time 50+ Videos]
						li Layout #[time 40+ Videos]
						li Color #[time 40+ Videos]
						li Style #[time 20+ Videos]
						li Imagery #[time 10+ Videos]
						li Elements #[time In-progress]
						li Tactics #[time In-progress]

	.sn-wrapper
		- vidTitle= "Course Walkthrough";
		- vidID= "450205651";
		include ../_includes/video
