hr
.sn-wrapper
	//- h2 Modules
	.sn-module-group.sn-grid-3

		//- module
		.sn-module.sn-module-start
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/1-start.pug
			.sn-module-content
				h3 Start 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 1h 17m</span>
				.sn-lessons
					ul
						li Welcome to the Course <time>05:03</time>
						li How Everything Works <time>12:23</time>
						li Pro-Designer Mindset <time>12:23</time>
						li Choosing Design Software <time>12:23</time>
						li UX vs. UI<time>12:23</time>
						li Design Process Overview <time>12:23</time>
						li Using Reference Material <time>12:23</time>
						li Quick Keys Fast Workflow <time>12:23</time>
						li Organizing Design Projects <time>12:23</time>
						li Figma Organization <time>12:23</time>
			
		//- module
		.sn-module.sn-module-typography
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/2-typography.pug
			.sn-module-content
				h3 Typography 
				.package-tag.package-tag-core
					p Core
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 4h 32m</span>
				.sn-lessons
					ul
						li Font Size  <time>15:36</time>
						li Font Weight <time>15:36</time>
						li Hierarchy <time>15:36</time>
						li Titles <span class="fk-uppercase">&amp;</span> Body <time>15:36</time>
						li Callouts <time>15:36</time>
						li Truncation <time>15:36</time>
						li Text Style Definitions <time>15:36</time>
						li Interactive Text <time>15:36</time>
						li Combining Text <span class="fk-uppercase">&amp;</span> Element <time>15:36</time>
						li Start With System Fonts <time>15:36</time>
						li Using Alternate Fonts <time>15:36</time>

		//- module
		.sn-module.sn-module-layout
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/3-layout.pug
			.sn-module-content
				h3 Layout 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 4h 47m</span>
				.sn-lessons
					ul
						li The Box Model <time>15:36</time>
						li Grids <span class="fk-uppercase">&amp;</span> Containers <time>15:36</time>
						li Implicit Grid <time>15:36</time>
						li Negative Space <time>15:36</time>
						li Alignment <time>15:36</time>
						li Optics vs. Math <time>15:36</time>
						li High <span class="fk-uppercase">&amp;</span> Low Density <time>15:36</time>
						li Scale, Weight, <span class="fk-uppercase">&amp;</span> Hierarchy <time>15:36</time>
						li Affordance <time>15:36</time>
						li Interactive Layouts <time>15:36</time>

		//- module
		.sn-module.sn-module-color
			.sn-module-icon.sn-module-icon-core
				include ../_includes/module-icons/4-color.pug
			.sn-module-content
				h3 Color 
				.package-tag.package-tag-core
					p Core
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 5h 25m</span>
				.sn-lessons
					ul
						li Color Picking Methods <time>15:36</time>
						li Contrast <span class="fk-uppercase">&amp;</span> Accessibility <time>15:36</time>
						li Structural vs. Interactive <time>15:36</time>
						li First, Second, Third <time>15:36</time>
						li Strategic Definitions <time>15:36</time>
						li Amount <span class="fk-uppercase">&amp;</span> Modification <time>15:36</time>
						li Gradients <time>15:36</time>
						li Nifty Shades of Grey <time>15:36</time>
						li White <span class="fk-uppercase">&amp;</span> Almost White <time>15:36</time>
						li Secrets of Dark UI <time>15:36</time>

		//- module
		.sn-module.sn-module-style
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/5-style.pug
			.sn-module-content
				h3 Style 
				.package-tag.package-tag-pro
					p Pro
				p 10 Lessons <span>&nbsp;&bull;&nbsp; 5h 06m</span>
				.sn-lessons
					ul
						li Design Direction <time>15:36</time>
						li Subtlety is Key <time>15:36</time>
						li Corner Radius <time>15:36</time>
						li Borders <span class="fk-uppercase">&amp;</span> Dividers <time>15:36</time>
						li Depth, Lighting and Shadow <time>15:36</time>
						li Opacity <span class="fk-uppercase">&amp;</span> Blur <time>15:36</time>
						li Deconstructing Styles <time>15:36</time>
						li Button Styles <time>15:36</time>
						li Marketing Site Style <time>15:36</time>
						li Form vs. Function <time>15:36</time>

		//- module
		.sn-module.sn-module-imagery
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/6-imagery.pug
			.sn-module-content
				h3 Imagery 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 08m</span>
				.sn-lessons
					ul
						li Imagery Overview <time>15:36</time>
						li Static Images <time>15:36</time>
						li To Rasterize or Not <time>15:36</time>
						li Dynamic Images <time>15:36</time>
						li Blend Modes <time>15:36</time>
						li Photo Manipulation <time>15:36</time>
						li Resourceful Assets <time>15:36</time>
						li Creating Icons <time>15:36</time>
						li Using Icons <time>15:36</time>
						li Simple Illustrations <time>15:36</time>
						li App Icons <time>15:36</time>

		//- module
		.sn-module.sn-module-elements
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/7-elements.pug
			.sn-module-content
				h3 Elements 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 14m</span>
				.sn-lessons
					ul
						li Navigation <time>15:36</time>
						li Authentication <time>15:36</time>
						li Lists <span class="fk-uppercase">&amp;</span> Cards <time>15:36</time>
						li Lists <span class="fk-uppercase">&amp;</span> Details <time>15:36</time>
						li Profile <time>15:36</time>
						li Settings <time>15:36</time>
						li Notifications <time>15:36</time>
						li Sorting, Filtering, <span class="fk-uppercase">&amp;</span> Editing <time>15:36</time>
						li Alerts, Modals, Interstitials <time>15:36</time>
						li Tables <time>15:36</time>
						li Forms <span class="fk-uppercase">&amp;</span> Input <time>15:36</time>
						li Design Systems <time>15:36</time>

		//- module
		.sn-module.sn-module-tactics
			.sn-module-icon.sn-module-icon-pro
				include ../_includes/module-icons/8-tactics.pug
			.sn-module-content
				h3 Tactics 
				.package-tag.package-tag-pro
					p Pro
				p 11 Lessons <span>&nbsp;&bull;&nbsp; 3h 09m</span>
				.sn-lessons
					ul
						li No-stress Experiments <time>15:36</time>
						li Low-Fidelity Designs <time>15:36</time>
						li Mobile <span class="fk-uppercase">&amp;</span> Responsive <time>15:36</time>
						li Scaling Desktop to Mobile <time>15:36</time>
						li iOS Design <time>15:36</time>
						li Material Design <time>15:36</time>
						li Design Doc Organization <time>15:36</time>
						li Leading Design Reviews <time>15:36</time>
						li Animation <span class="fk-uppercase">&amp;</span> Prototyping <time>15:36</time>
						li Developer Handoff <time>15:36</time>
						li Getting Work <time>15:36</time>


			//- module
		.sn-module.sn-module-critique
			.sn-module-icon
				<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle class="sn-logo-bg" cx="40" cy="40" r="40" fill="#111111"/>
				<path class="sn-logo-shape" d="M39.0873 15.5795C41.8843 12.7824 46.6668 14.7634 46.6668 18.719V34.6668L55.5271 43.5271C57.261 45.261 57.261 48.0723 55.5271 49.8062L40.9129 64.4204C38.1158 67.2175 33.3333 65.2365 33.3333 61.2809V45.3331L24.4731 36.4728C22.7391 34.7389 22.7391 31.9276 24.4731 30.1937L39.0873 15.5795Z" fill="white"/>
				</svg>
			.sn-module-content
				h3 Critiques 
				.package-tag.package-tag-pro
					p Pro
				p Vault with over 600+ videos
				.sn-lessons
					ul
						li HW – Get Started <time>60+ Videos</time>
						li HW – Typography <time>50+ Videos</time>
						li HW – Layout <time>40+ Videos</time>
						li HW – Color <time>40+ Videos</time>
						li HW – Style <time>20+ Videos</time>
						li HW – Imagery <time>10+ Videos</time>
						li HW – Elements <time>In-progress</time>
						li HW – Tactics <time>In-progress</time>