//- hr
.sn-wrapper.sn-long-form
	h2 I went to design school, where's my 6-figure salary?
	p That's... not exactly what happened for me. My first job out of college, I was making a whopping fourteen dollars an hour.

	p I did graphic, web, and logo design for random companies you've never heard of for a full year before Facebook was even a big thing in 2006. I designed websites for two full years before the original iPhone was released (no iOS apps to design for) and five full years before responsive web design became a thing (no mobile-first design).

	blockquote It took me years of figuring things out myself after college before I really began to understand how to apply my design education directly into my interface projects. #[span 🤓]

	p I began my design journey working for small local clients, eventually upgraded to contract gency work with bigger clients like Yahoo!, Home Depot, AT&amp;T, Wells Fargo, etc.

	p Slowly but surely though, I worked on newer projects with bigger companies and gained tons of experience about information architecture and development best-practices at a variety of contract roles across lots of creative agencies.

	p I started to form my own personal best-practices for visual interface design, but it took me nearly 5 years before I felt really comfortable doing so.

	p Eventually I started getting referrals to work with well-funded startups who needed help making their apps look beautiful. This is where I really started to hit a groove.

	p For last decade or so I've had the absolute pleasure of working with all kinds of clients, who needed top-notch design work for their shiny new apps... 

	p #[em And now I'm going to teach you all of the same exact skills I've used over my career to apply yourself.]

	p Let's be realistic though, it's going to be rigorous. It will take time. It will be hard work. But in a way that's step by step, fun, and fits into your life.