//- hr
.sn-wrapper.sn-overview


	.sn-desc.sn-grid-12
		p.callout Shift Nudge is the systematic process to learn the visual skills of interface design, even if you don't have a design background, even if you're not an expert, even if you have no idea where to start.
		ul.feature-list
			li <div>✓</div> Typography
			li <div>✓</div> Layout
			li <div>✓</div> Choosing Colors
			li <div>✓</div> Design Direction
			li <div>✓</div> Interface Elements
			li <div>✓</div> Real World Tactics
			li <div>✓</div> Slack Community
	.sn-meta.sn-grid-12
		//- .sn-meta-container
		//- 	h2 8
		//- 	p modules
		.sn-meta-container
			h2 84
			p lessons
		.sn-meta-container
			h2 30 <div>+</div>
			p hours of video
		.sn-meta-container
			h2 600 <div>+</div>
			p design critiques

	//- .sn-modules-container
	//- 	.sn-module-overview.sn-module-start
	//- 		.sn-module-icon
	//- 			include module-icons/1-start
	//- 		.sn-module-desc
	//- 			h6 Module 1 – Start #[em • 10 lessons ]
	//- 			p.callout Getting started is half the battle. The first module gives tips for kicking off, plus some important mental models that will guide your entire interface design process.
	//- 			blockquote 
	//- 				include ../_includes/line-arrow
	//- 				| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-typography
		//- 	.sn-module-icon
		//- 		include module-icons/2-typography
		//- 	.sn-module-desc
		//- 		h6 Module 2 – Typography #[em • 10 lessons ]
		//- 		p.callout Typography is the cornerstone of interface design. This module is an extensive deep dive into the world of exquisite type usage. Simple, thorough, and practical.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-layout
		//- 	.sn-module-icon
		//- 		include module-icons/3-layout
		//- 	.sn-module-desc
		//- 		h6 Module 3 – Layout #[em • 10 lessons ]
		//- 		p.callout Layout covers the critical compositional aspect of interface design. These handy lessons will create an immutable personal framework for all your projects.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-color
		//- 	.sn-module-icon
		//- 		include module-icons/4-color
		//- 	.sn-module-desc
		//- 		h6 Module 4 – Color #[em • 10 lessons ]
		//- 		p.callout Color theory is fun and all, but this module will take a very practical look at its usage as well as things to avoid. You won’t be mystified by color usage any longer!
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-style
		//- 	.sn-module-icon
		//- 		include module-icons/5-style
		//- 	.sn-module-desc
		//- 		h6 Module 5 – Start #[em • 10 lessons ]
		//- 		p.callout Style is the physical manifestation of all of the core elements. You can dictate style to create certain looks. This module will breakdown the different ways to do it.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-imagery
		//- 	.sn-module-icon
		//- 		include module-icons/6-imagery
		//- 	.sn-module-desc
		//- 		h6 Module 6 – Imagery #[em • 10 lessons ]
		//- 		p.callout An image speaks a 1,000 words and this module will go into all those details—photos, icons, illustrations, and more. Put strong visuals at your fingertips.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-elements
		//- 	.sn-module-icon
		//- 		include module-icons/7-elements
		//- 	.sn-module-desc
		//- 		h6 Module 7 – Elements #[em • 10 lessons ]
		//- 		p.callout Alright, let’s get super practical. In this module we’ll isolate individual components commonly found in our interfaces and dive deep on the details that create them.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.

		//- .sn-module-overview.sn-module-tactics
		//- 	.sn-module-icon
		//- 		include module-icons/8-tactics
		//- 	.sn-module-desc
		//- 		h6 Module 8 – Tactics #[em • 10 lessons ]
		//- 		p.callout Here we'll apply all of our new found knowledge for contextual scenarios.e’ll take a look at platforms and situations to train you for the real world.
		//- 		blockquote 
		//- 			include line-arrow
		//- 			| Imagine having a process you could rely on for every project that would reliably produce the best results for your interfaces.
