.sn-wrapper
	.sn-faqs.sn-pricing-faqs
		//- h5 FAQs

		.sn-faq-grid.sn-grid-12#pricingfaqs
			.sn-faq
				h6 Student discount?
				p There are no student discounts for this course. This is pro-level curriculum that you won’t find at universities AND it costs a tiny fraction of a university tuition. Considering that, the course is already heavily discounted.
			
			.sn-faq
				h6 Free trial?
				p Sorry, there is no free trial. The testimonials from previous students say more about the course than I ever could. If you decide to try it and don't like it there's a #[a(href="#guarantee") 100% money-back guarantee]. No risk!

			.sn-faq
				h6 Purchasing power parity?
				p I know $199+/mo is a lot in some parts of the world and there has definitely been lots of interest in the course from other countries. There may be alternate pricing later on, but for now there is only USD pricing.
			
			.sn-faq
				h6 Refund policy?
				p I’m pleased to offer a 30-day money back guarantee. Try the full course for a whole month and if it’s not for you, I’ll gladly refund you the full amount. I’ll even eat the credit card fees. I’m not happy if you’re not happy.
			
			.sn-faq
				h6 Sponsorships?
				p If you’d like to buy a sponsorship for an under priviledged student, you are 100% encouraged to do so. Go ahead and purchase the plan you’d like to gift as a sponsorship and we can work on the details afterwards via email.

			.sn-faq
				h6 Need more time?
				p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.


//- .sn-wrapper
//- 	.sn-pricing-faqs
//- 		//- h5 FAQs

//- 		.sn-pricing-faq-grid
//- 			.sn-mini-faq
//- 				h6 Student discount?
//- 				p There are no student discounts for this course. This is pro-level curriculum that you won’t find at universities AND it costs a tiny fraction of a university tuition. Considering that, the course is already heavily discounted.
			
//- 			.sn-mini-faq
//- 				h6 Free trial?
//- 				p There is one free video from the course on Design File Organization. This is to give you an idea of the level of quality of the content that you can see for yourself. Other than this video, there is no free trial period for the course.

//- 			.sn-mini-faq
//- 				h6 Purchasing power parity?
//- 				p I know $199+/mo is a lot in the developing world and there has definitely been lots of interest in the course in those markets. There may be alternate pricing later on, but for now there is only USD pricing.
			
//- 			.sn-mini-faq
//- 				h6 Refund policy?
//- 				p I’m pleased to offer a 30-day money back guarantee. Try the full course for a whole month and if it’s not for you, I’ll gladly refund you the full amount. I’ll even eat the credit card fees. I’m not happy if you’re not happy.
			
//- 			.sn-mini-faq
//- 				h6 Sponsorships?
//- 				p If you’d like to buy a sponsorship for an under priviledged student, you are 100% encouraged to do so. Go ahead and purchase the plan you’d like to gift as a sponsorship and we can work on the details afterwards via email.

//- 			.sn-mini-faq
//- 				h6 Need more time?
//- 				p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.


