.sn-wrapper
	.sn-pricing-faqs
		h5 FAQs

		.sn-mini-faq-grid
			.sn-mini-faq
				h6 Student discount?
				p There are no student discounts for this course. This is pro-level curriculum that you won’t find at univerisities AND it costs a tiny fraction of a university tuition. Considering that, it’s already heavily discounted.
			
			.sn-mini-faq
				h6 Free trial?
				p There is one free video from the course on Design File Organization. This is to give you an idea of the level of quality of the content that you can see for yourself. Other than this video, there is no free trial period for the course.

			.sn-mini-faq
				h6 Purchasing power parity?
				p I know $199/mo is a lot in the developing world and there has definitely been lots of interest in the course in those markets. Shift Nudge may offer alternate pricing later on down the road, but for now there is only USD pricing.
			
			.sn-mini-faq
				h6 Refund policy?
				p I’m pleased to offer a 30-day money back guarantee. Try the full course for a whole month and if it’s not for you, I’ll gladly refund you the full amount. I’ll even eat the credit card fees. I’m not happy if you’re not happy.
			
			.sn-mini-faq
				h6 Sponsorships?
				p If you’d like to buy a sponsorship for an under priviledged student, you are 100% encouraged to do so. Go ahead and purchase the plan you’d like to gift as a sponsorship and we can work on the details afterwards via email.

			.sn-mini-faq
				h6 Need more time?
				p If you have a special situation that requires slightly more time to recieve approval or gather funds than the enrollment period allows, please send a message beforehand to become eliglible for a 14-day extension.
				
	.sn-quote-group.grid
		
		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Boma Josia";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/boma.png";
			- studentQuote	="This is the most impactful design course I’ve ever taken. I especially love the tasks for each lesson and personal feedback from MDS. <em>It’s all been incredibly worthwhile!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Jenny Vogel";
			- studentTitle	="Growflow";
			- studentImage	="../_assets/img/students/jenny.png";
			- highlight			=highlightYellow;
			- studentQuote	="<em>I would’ve paid 4x more for this course</em>—Matt is an incredible teacher! This was exactly what I needed to take my designs to the next level.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Ramon Gilabert";
			- studentTitle	="Microsoft";
			- studentImage	="../_assets/img/students/ramon.png";
			- studentQuote	="I’ve taken many courses—recently a masters in interaction design—and I’ve read every book, but your course is by far the most comprehensive, well explained, well structured, and <em>most actionable resource in design I’ve ever taken.</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Stephen Asonye";
			- studentTitle	="Order My Gear";
			- studentImage	="../_assets/img/students/stephen.png";
			- studentQuote	="Not gonna lie... this is the <em>best design course</em> I've ever taken.";
			include ../_includes/quote.pug
				
				
				

				