hr
.sn-wrapper.sn-pricing
	h5 Join Shift Nudge
	.sn-packages
		.sn-package.sn-core
			include ../_includes/sn-logo-default.pug
			h2 Core
			p 3 payments of $199 
			//- #[br] #[em (that's only $6.42 per day)]
			ul.feature-list
				li <div>✓</div> Lifetime access
				li <div>✓</div> Core (4) modules
				li <div>✓</div> 41 in-depth lessons
				li <div>✓</div> 10+ hrs of training
				li.empty &nbsp;
				li.empty &nbsp;
				li.empty &nbsp;
			a(href="#").sn-cta Get Instant Access
		.sn-package.sn-pro
			include ../_includes/sn-logo-default.pug
			h2 Pro
			p 4 payments of $299 
			//- #[br] #[em (that's only $9.83 per day)]
			ul.feature-list
				li <div>✓</div> Lifetime access
				li <div>✓</div> Core (4) modules
				li <div>✓</div> Pro (4) Modules
				li <div>✓</div> 84 in-depth lessons
				li <div>✓</div> 30+ hrs of training
				li <div>✓</div> 600+ Critique Vault
				li <div>✓</div> 450+ member Slack
			a(href="#").sn-cta Get Instant Access