.sn-wrapper-big

	.sn-quote-group.grid

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Yannik Sprengart";
			- studentTitle	="Student";
			- studentImage	="../_assets/img/students/yannik.jpg";
			- studentQuote	="<em>The only design course you will ever need to take!</em> Practical knowledge and real world examples from one of the industry's leaders. All you need to get started or to take your design skills to a new level.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Bryan Joel";
				- studentTitle	="UI8";
				- studentImage	="../_assets/img/students/bryan.png";
				- studentQuote	="<em>The course has been fantastic.</em> I’m definitely learning something valuable.";
				include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Abeer Qamer";
			- studentTitle	="Student";
			- studentImage	="../_assets/img/students/abeer.png";
			- studentQuote	="I just discovered Shift Nudge and fell in love with it. <em>The course structure is really amazing!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Yassine Bakiri";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/yassine.png";
			- studentQuote	="I've approached your course with a pinch of salt at the beginning, dreading that it would be scratching the surface like lots of online courses that I've found in the past. And I'm so glad I was wrong! <em>No regrets, money well invested.</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Yehezkel Lipinsky";
			- studentTitle	="Deloitte Digital";
			- studentImage	="../_assets/img/students/yehezkel.png";
			- studentQuote	="This course <em>has been so additive to my design practice,</em> and the results can be seen in my professional work.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Denis Zhelyazkov";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/denis.png";
				- studentQuote	="This course is <em>FREAKING LIT!</em>";
				include ../_includes/quote.pug