.sn-wrapper-big

	.sn-quote-group.grid

		.sn-student-quote.item
			- studentName		="Boma Josia";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/boma.jpg";
			- studentQuote	="This is the most impactful design course I’ve ever taken. I especially love the tasks for each lesson and personal feedback from MDS. <em>It’s all been incredibly worthwhile!</em>";
			include ../_includes/quote.pug

		.sn-student-quote.item
			- studentName		="Kakau Fonseca";
			- studentTitle	="Nubank";
			- studentImage	="../_assets/img/students/kakau.jpg";
			- studentQuote	="<em>I'm in love with your course</em> and the way you explain things. Thanks again!";
			include ../_includes/quote.pug

		.sn-student-quote.item
			- studentName		="Brad Frost";
			- studentTitle	="Atomic Design";
			- studentImage	="../_assets/img/students/brad.jpg";
			- studentQuote	="<em>I’ve had the pleasure of working with Matt on client work and he’s a very very very good designer.</em> His course will undoubtedly help you become a better designer.";
			include ../_includes/quote.pug
		
		.sn-student-quote.item
			- studentName		="Michelle Lu";
			- studentTitle	="Viralspace.ai";
			- studentImage	="../_assets/img/students/michelle.jpg";
			- studentQuote	="<em>Blown away by your level of feedback...</em> Definitely getting my value out of this class!";
			include ../_includes/quote.pug

		
		



		