.sn-wrapper-big

	.sn-quote-group.grid

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Charlsy Yang";
			- studentTitle	="Student";
			- studentImage	="../_assets/img/students/charlsy.png";
			- studentQuote	="As someone who loves typography but doesn’t have a design background <em>this has been the art school experience I’ve always wanted...</em> I love it!";
			include ../_includes/quote.pug


		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Kris Puckett";
			- studentTitle	="Knapsack";
			- studentImage	="../_assets/img/students/kris.png";
			- studentQuote	="<em>It’s such a gift to be part of Shift Nudge</em> and to have Matt as a leader in the community.";
			include ../_includes/quote.pug


		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Tiffany C Yu";
			- studentTitle	="Outline";
			- studentImage	="../_assets/img/students/tiffany.png";
			- studentQuote	="Matt helped identify areas where I could improve to take my designs to the next level. <em>This was definitely a good investment for my career!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Jonah Stefanovic";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/jonah.png";
			- studentQuote	="I’ve learned more from this course in one week than a full year of being self-taught! <em>Very glad I made the decision to join.</em>";
			include ../_includes/quote.pug