.sn-wrapper-big

	.sn-quote-group.grid

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Tom Gianattasio";
			- studentTitle	="Clover";
			- studentImage	="../_assets/img/students/atassi.png";
			- studentQuote	="Matt is a rarity. Not only is he <em>one of the most talented designers in the game,</em> he also has an incredible knack for teaching and inspiring others.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Arjen Harris";
			- studentTitle	="Product Manager";
			- studentImage	="../_assets/img/students/arjen.png";
			- studentQuote	="Just wanted to say I <em>really appreciate the elaborate feedback</em> on the homework man, really makes the course shine!";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Jack Winchester";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/jack.png";
			- studentQuote	="Loving the course content, btw. It’s greatly increased my confidence in my abilities. So many things I have taken away from this course! It's safe to say <em>the amount of value I have obtained from this has been immense.</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Hasan Ansari";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/hasan.png";
			- studentQuote	="Really grateful for the course you’ve put together. I’ve <em>learned a lot from the lessons and really enjoyed them.</em> Thank you!";
			include ../_includes/quote.pug