.sn-wrapper-big

	.sn-quote-group.grid


		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Boma Josia";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/boma.png";
			- studentQuote	="This is the most impactful design course I’ve ever taken. I especially love the tasks for each lesson and personal feedback from MDS. <em>It’s all been incredibly worthwhile!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Kakau Fonseca";
			- studentTitle	="Nubank";
			- studentImage	="../_assets/img/students/kakau.png";
			- studentQuote	="<em>I'm in love with your course</em> and the way you explain things. Thanks again!";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Chibuzor";
			- studentTitle	="Product Designer";
			- studentImage	="../_assets/img/students/chibuzor.png";
			- studentQuote	="The course content is so <em>thoughtfully put together and so well-taught.</em> Premium, timeless, the best course I've ever taken.";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Michelle Lu";
			- studentTitle	="Viralspace.ai";
			- studentImage	="../_assets/img/students/michelle.png";
			- studentQuote	="<em>Blown away by your level of feedback...</em> Definitely getting my value out of this class!";
			include ../_includes/quote.pug

		
		



		