.sn-wrapper-big

	.sn-quote-group.grid

		.sn-student-quote.item
			- studentName		="Brandon Pittman";
			- studentTitle	="Developer";
			- studentImage	="../_assets/img/students/brandon.jpg";
			- studentQuote	="<em>Matt's friendly presentation style made design approachable and easy to understand.</em> He provides a lot of helpful examples in every lesson and the homework assignments are challenging and highly applicable.";
			include ../_includes/quote.pug

		.sn-student-quote.item
			- studentName		="Bryan Joel";
			- studentTitle	="UI8";
			- studentImage	="../_assets/img/students/bryan.png";
			- studentQuote	="<em>The course has been absolutely fantastic.</em> I’m definitely learning something valuable.";
			include ../_includes/quote.pug
		
		.sn-student-quote.item
			- studentName		="Denis Zhelyazkov";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/denis.png";
			- studentQuote	="This course is <em>FREAKING LIT! So good.</em>";
			include ../_includes/quote.pug

		.sn-student-quote.item
			- studentName		="Shalaka";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/shalaka.jpg";
			- studentQuote	="Before I was trying to learn UI Design by myself without any guidance, but now <em>I'm so glad I found this structured course to pave the way.</em> I'm gaining confidence with every exercise. Thank you MDS!";
			include ../_includes/quote.pug


		
		