.sn-wrapper-big

	.sn-quote-group.grid

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Anipier Bérubé";
			- studentTitle	="ENDVR.IO";
			- studentImage	="../_assets/img/students/anipier.jpg";
			- studentQuote	="Just wanted to tell you <em>how happy I am that i found your class.</em> It’s short, clean, clear, and organized. Thank you so much!";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Caden Damiano";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/caden.jpg";
			- studentQuote	="The course is great and very rigorous. A big committment, but <em>it’s worth it!</em>";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Christian Cardenas";
			- studentTitle	="Designer";
			- studentImage	="../_assets/img/students/christian.jpg";
			- studentQuote	="Absolutely love your course, <em>it's been helping me a ton</em> as I work on client projects and implementing every new thing I learn onto each project!";
			include ../_includes/quote.pug

		//- -------- quote -------- //
		.sn-student-quote.item
			- studentName		="Ben";
			- studentTitle	="Recent Grad";
			- studentImage	="../_assets/img/students/ben.jpg";
			- studentQuote	="The best course I have ever bought! <em>It helped me land my first job after graduating</em> and it’s been a reference I use almost everyday. I can say your quality and quantity is the highest bar.";
			include ../_includes/quote.pug

		