.sn-wrapper.sn-long-form
	h2 You can start small
	p Chuck Norris can slam a revolving door. Chuck Norris can have his cake and eat it, too. Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs Chuck Norris can slice
	h4 You can go at your own pace
	p You can build a lifelong skill
	p Do this or that better and over time build your portfolio of work
	.sn-mds
		h4 Portfolio work
		.sn-mds-gallery.sn-grid-3
			figure.sn-mds-gallery-image
				figcaption My wifek and four kids are everything
				img(src='/_assets/img/mds-gallery-01.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Ran my own studio for 15+ years
				img(src='/_assets/img/mds-gallery-02.png' alt='mds')
			figure.sn-mds-gallery-image
				figcaption Led workshops at Epicurrence
				img(src='/_assets/img/mds-gallery-03.png' alt='mds')


	h2 Where will you be 12 months from now?
	p Chuck Norris can slam a revolving door. Chuck Norris can have his cake and eat it, too. Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs Chuck Norris can slice
	h4 You can go at your own pace