.sn-wrapper.sn-long-form
	h2 Start Small
	p With Shift Nudge, you can absolutely start small. You don't have to bite off a massive chunk of design education and choke on it.
	p This course gives you a huge variety of material to learn from. You can do one lesson at a time and let it marinate while you do the homework and apply the principles in your own work.
	p You have lifetime access after purchasing, so you can go through immediately or reference the parts that are relevant to your current work whenever you want.
	h4 Go at your own pace
	p If you're absolutely on fire for knowledge, you can devour the entire course as fast as you want!
	p I do highly recommend doing the homework though, as the assignments for each lesson are carefully crafted to isolate and solidify the core ideas from the lesson.
	h4 Looking ahead
	p Where will you be in 12 months? The time is going to go by whether you've committed to learning a new skill or not. 
	p Today, you have the opportunity to make a decision. If you decide to wait until “someday,” that’s still a decision. But you also have the opportunity to make a decision to join Shift Nudge. Especially if you're tired of trying things on your own and doing everything yourself. After all, even the best athletes in the world use coaches and get help to improve and sharpen their skills. There's also an online community, so you don't have to do it all by yourself, although you're totally welcome to do that too.
	p I want to show you the new step-by-step system for creating great interface design.


