.sn-testimonials
  //- h2 Student Feedback

  .sn-testimonial
    blockquote
      p Really grateful for the course you’ve put together. <em>I'm learning a lot</em> from the lessons and enjoying them. Thank you!
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/hasan.png' alt='hasan')
      cite —Hasan

  .sn-testimonial
    blockquote
      p Just finished the typography module and wow, I learned so much! Very <em>grateful for the quality of content</em> and great editing.
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/dan.png' alt='dan')
      cite —Dan

  .sn-testimonial
    blockquote
      p I'm so happy I found this course. <em>It's short, clean, clear, and well organized</em>. Thanks for having me in the private beta!
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/anipier.png' alt='anipier')
      cite —Anipier

  .sn-testimonial
    blockquote
      p The COURSE IS <em>FREAKING LIT</em>.
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/denis.png' alt='denis')
      cite —Denis

  .sn-testimonial
    blockquote
      p Hey! Thanks again for this course. <em>Slowly learning a ton</em>. It's giving me confidence to slowly redesign a client's full website.
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/david.png' alt='david')
      cite —David

  .sn-testimonial
    blockquote
      p <em>I'm in love with your course</em> and the way you explain things. Thanks again!
    .sn-student
      .sn-student-avatar
        img(src='/_assets/img/students/kakau.png' alt='kakau')
      cite —Kakau