.sn-beta-overview
	h2 Private Beta Overview
		span
			<a href="/join-private-beta/transcript"> Read Transcript ↗</a>
	.sn-video-wrap
		<iframe src="https://player.vimeo.com/video/400386046" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>