.sn-beta-overview
	h2 Private Beta Overview
		span
			<a href="transcript"> Read Transcript ↗</a>
	//- p Read a loose transcript of the video <a href="transcript">here</a>
	.sn-video-wrap
		<iframe src="https://player.vimeo.com/video/378402178" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
