//- hr
.sn-wrapper.sn-long-form
	h2 What's holding you back?
	p It's easy to get inside of our own heads when we try to make any small step towards self-improvement. That little voice starts to creep in and say, #[em "yeah but is that really gonna work for me? ...am I really capable of learning a new skill?"] The answer is yes! Especially when you have an entire step by step system that you can follow.
	p Maybe you've thought these things...
	ul.sn-red
		li I don't feel confident with UI
		li I'm not really a visual person
		li I'll just use another UI Kit
		li I'm just not that creative
		li I'll just leave it to the professionals
		li I never went to design school
		li I can't come up with good ideas
		li I can't even draw a stick figure
	h4 The usual advice
	p The usual advice is either way too lofty and out of reach, or way to miniscule and unhelpful. Should you go get a Master's degree in Human Computer Interaction? Maybe you'll be fine just watching a bunch of random YouTube tutorials. Either way, are you really going to learn all of the nuanced details of visual design? And can you effectively cobble together enough videos on YouTube to give yourself the education you need? Maybe...
	h4 What I had to do...
	p I WENT to design school. I GOT the graphic design degree. AND I worked for nearly 5 years before I really understood how to apply all of this to digital interfaces. 
	p Let me save you the time and headache of figuring out everything all on your own. 