.sn-final-cta
	text-align: center
	max-width: 36rem
	margin: auto

	h2
		padding-bottom: 4rem

	.sn-cta
		background: $c-red
		color: $c-dark
		+easeall
		&:hover
			transform: translateY(-4px)
			+easeall