@font-face
    font-family: 'TT Firs Neue'
    src: url('../_assets/fonts/TypeType-TTFirsNeueDemiBold.woff2') format("woff2"),
    url('../_assets/fonts/TypeType-TTFirsNeueDemiBold.woff') format("woff")
    font-style: normal
    font-weight: 600
    text-rendering: optimizeLegibility