*, *:before, *:after
	box-sizing: border-box

*::-moz-selection
	background: rgba($c-red, .1)
	color: $c-red
	-webkit-text-stroke-width: 0

*::selection
	background: rgba($c-red, .1)
	color: $c-red
	-webkit-text-stroke-width: 0

html
	scroll-behavior: smooth
	background: $c-dark

body
	font-size: 16px
	background: $c-dark
	color: $c-grey-aa
	margin-top: 0rem
	+font-firs

img
	width: 100%