.sn-hero
	padding-top: 12rem

	.sn-title
		position: relative

		h1
			text-indent: 7rem
			+easeall

			+bp-xlarge
				text-indent: 0

	.sn-logo
		position: absolute
		top: 0
		left: .75rem
		+easeall

		+bp-xlarge
			top: 1.5rem
			transform: translateX(-7rem)
			+easeall



	p.xlarge
		padding-top: 5rem
		max-width: 50rem
		padding-bottom: 10rem

// anime js test stuff

// .ml7 
//   position: relative
//   font-weight: 900
//   font-size: 3.7em

// .ml7 .text-wrapper 
//   position: relative
//   display: inline-block
//   padding-top: 0.2em
//   padding-right: 0.05em
//   padding-bottom: 0.1em
//   overflow: hidden

// .ml7 .letter 
//   transform-origin: 0 100%
//   display: inline-block
//   line-height: 1em
