.sn-hero
	padding-top: 12rem
	font-size: 2rem

	+bp-medium
		font-size: 3.5rem

	+bp-large
		font-size: 4.5rem

	.sn-title
		position: relative

		h1
			float: left
			display: inline
			margin-right: .6rem
			padding-left: 1.8rem
			font-size: 1em
			+easeall

			+bp-medium
				padding-left: 4rem

			+bp-large
				margin-right: 1rem
				padding-left: 5rem
				+easeall

			+bp-xlarge
				padding-left: 0

	.sn-logo
		position: absolute
		top: -.85em
		left: -.4em
		width: 1.5em
		height: auto
		+easeall

		+bp-medium
			top: -.35em
			left: -.1em

		+bp-large
			top: -.15em
			left: -.3em
			+easeall

		+bp-xlarge
			transform: translateX(-5rem)
			+easeall

		svg
			width: 100%

	p.xlarge
		max-width: 100%
		padding-bottom: 0rem
		font-size: 1em

		span
			display: none


.sn-meta
	padding: 5rem 0
	display: grid
	grid-template-columns: 1fr 1fr
	align-items: center

	.sn-instructor
		display: grid
		align-items: center
		grid-template-columns: 74px 1fr
	
	img 
		width: 48px
	p
		margin: 0
		padding: 0
	
	.sn-student-group
		display: none
		box-shadow: none
		align-items: center
		line-height: 0
		padding: 0
		margin: 0
		+bp-medium
			display: block

	.sn-student
		display: inline-block
		position: relative
		margin: 0 -1.75rem 0 0
		border-radius: 50%
		padding: 0 
		+easeall
		&:hover
			z-index: 100
			transform: scale(1.2)
			+easeall
			img
				mix-blend-mode: luminosity
		img
			text-align: right
			width: 32px
			border-radius: 50%
			box-shadow: 0 0 0 6px $c-dark
			padding: 0
			margin: 0
