.sn-wrapper
	width: 100%
	margin: auto
	padding: 0 20px
	// border: 1px solid red

	+bp-medium
		max-width: 1080px

	+bp-large
		padding: 0

	+bp-xlarge
		// max-width: 1400px
		

.sn-grid-3	
	display: grid
	grid-template-columns: 1fr
	grid-gap: 20px
	max-width: 520px
	margin: auto
	+easeall

	+bp-medium
		max-width: none
		grid-template-columns: 1fr 1fr
		// max-width: 1080px
		+easeall

	+bp-large
		grid-template-columns: 1fr 1fr 1fr

	+bp-large
		// max-width: 1400px
		+easeall

.sn-grid-2
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 20px

	+bp-medium
		grid-template-columns: 1fr 1fr
