.sn-wrapper
	width: 100%
	margin: auto
	padding: 0 20px
	max-width: 1080px

	+bp-large
		padding: 0

.sn-wrapper-big
	width: 100%
	margin: auto
	padding: 0 20px
	max-width: 1660px
		
.sn-grid-3	
	display: grid
	grid-template-columns: 1fr
	grid-gap: 20px
	max-width: 520px
	margin: auto
	+easeall

	+bp-medium
		max-width: none
		grid-template-columns: 1fr 1fr
		+easeall

	+bp-xxlarge
		grid-template-columns: 1fr 1fr 1fr


.sn-grid-2
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 20px

	+bp-medium
		grid-template-columns: 1fr 1fr
