.sn-long-form
	padding-top: 6rem
	
	h2
		max-width: 620px
		padding: 2rem 0 5rem

	h4
		padding: 1rem 0

	p.callout
		max-width: 805px
		padding-bottom: 6rem

	p.large
		max-width: 40rem

	blockquote
		float: none
		line-height: 140%
		+bp-medium
			line-height: 135%
			float: right
			max-width: 18rem
			margin: 0 2rem