r// magical code that cycles through the brand colors in order
$colors: $c-teal, $c-yellow, $c-orange, $c-red, $c-pink, $c-purple, $c-blue, $c-lightblue

@for $i from 1 through length($colors) 

	$randomColor: nth($colors, $i)

	.sn-student-quote:nth-child(#{length($colors)}n+#{$i})
		p em
			background: linear-gradient(180deg, rgba($randomColor, 0) 14%, rgba($randomColor, 1) 15%, rgba($randomColor, 1) 85%, rgba($randomColor, 0) 85%)		
		&:hover
			.sn-student-avatar
				background: $randomColor
				box-shadow: 0 0 0 8px $randomColor

	.sn-module:nth-child(#{length($colors)}n+#{$i}) .sn-module-icon
		color: nth($colors, $i)
		.icon-bg
			fill: $randomColor
			+easeall

	.sn-module-overview:nth-child(#{length($colors)}n+#{$i}) .sn-module-icon,	
	.sn-module-overview:nth-child(#{length($colors)}n+#{$i}) .sn-module-desc h6,
	.sn-module-overview:nth-child(#{length($colors)}n+#{$i}) .sn-module-desc blockquote
		color: $randomColor

	.sn-step-container .sn-step:nth-child(#{length($colors)}n+#{$i})
		&:hover
			h6 
				color: $randomColor
				+easeall
			p
				color: $c-light
				+easeall
