.sn-mds
	padding: 4rem 0

	h2
		padding-top: 20px
		padding-bottom: 2rem
		max-width: 40rem

		+bp-medium
			padding-bottom: 6rem			

	.sn-mds-intro
		display: grid
		grid-template-columns: 1fr
		grid-gap: 20px
		padding-bottom: 2rem

		+bp-medium
			grid-template-columns: repeat(12, 1fr)

		img
			width: 90px
			height: 90px
			grid-column: span 12
			+bp-medium
				grid-column: span 2

		p.callout
			grid-column: span 12
			+bp-medium
				grid-column: 3 / span 5

		p
			grid-column: span 12
			+bp-medium
				grid-column: 9 / span 4

	.sn-mds-gallery
		padding-top: 0rem
		+bp-medium
			padding-top: 5rem



		// remove photo for 2-wide so the grid looks nice and clean at all sizes
		.sn-outlier
			display: none
			+bp-medium
				display: block
			+bp-large
				display: none

		.sn-mds-gallery-image
			position: relative
			overflow: hidden

			&:before
				content: ""
				display: block
				position: absolute
				width: 100%
				height: 100%
				background: linear-gradient(0deg, rgba($c-black, .9) 0%, rgba($c-black, 0) 50%)
				z-index: 100
				+easeall

			&:hover
				mix-blend-mode: normal
				+easeall

				img
					transform: scale(1.1)
					opacity: 1				
					+easeall

			img
				position: relative
				width: 100%
				z-index: 0
				+easeslow

			figcaption
				text-align: center
				position: absolute
				bottom: 1.5rem
				opacity: .8
				left: 0%
				right: 0%
				z-index: 200

