.sn-overview
	padding-top: 2rem
	+bp-medium
		padding-top: 10rem

	.sn-desc
		p.callout
			grid-column: span 12
			
			+bp-medium
				grid-column: span 7
			
		ul.feature-list 
			grid-column: span 12

			+bp-medium
				grid-column: 9 / span 3

			div
				color: $c-red
				line-height: 180%


	.sn-meta
		padding: 6rem 0 2rem
		grid-row-gap: 4rem
		font-variant: tabular-nums

	.sn-meta-container
		grid-column: span 4
		h2
			font-size: 3rem
			color: $c-dark
			-webkit-text-stroke-width: 2px
			-webkit-text-stroke-color: $c-grey-aa-large
		
			+bp-medium
				font-size: 6rem

		div
			display: inline
			font-size: 1.75rem
			+font-weight-bold
			margin-left: 0.5rem
			position: absolute
			color: $c-red
			-webkit-text-stroke-width: 0

	.sn-module-overview
		display: grid
		grid-template-columns: .25fr 1fr
		padding: 8rem 0
		position: relative

		.sn-module-icon
			background: $c-dark
			width: 120px
			height: 120px
			border-radius: 60px
			position: relative
			top: -3.2rem
			border: 6px solid $c-dark-accent

			svg
				position: relative
				transform: translate(-50%, -50%)
				left: 50%
				top: 50%

		.sn-module-desc
			max-width: 620px 

			p.callout
				padding-bottom: 6rem

			h6
				text-transform: uppercase
				padding-bottom: 4rem

				em
					color: $c-grey-aa
					+font-weight-demibold
					text-transform: none

			blockquote
				max-width: 26rem
				// color: $c-grey-aa