.sn-overview

	.sn-module-overview
		display: grid
		grid-template-columns: .25fr 1fr
		padding: 8rem 0
		position: relative

		.sn-module-icon
			background: $c-dark
			width: 120px
			height: 120px
			border-radius: 60px
			position: relative
			top: -3.2rem
			border: 6px solid $c-dark-accent

			svg
				position: relative
				transform: translate(-50%, -50%)
				left: 50%
				top: 50%

		.sn-module-desc
			max-width: 620px 

			p.callout
				padding-bottom: 6rem

			h6
				text-transform: uppercase
				padding-bottom: 4rem

				em
					color: $c-grey-aa
					+font-weight-demibold
					text-transform: none

			blockquote
				max-width: 26rem
				color: $c-grey-aa