.sn-review-page
	margin: 20px

	.sn-quote-group
		padding: 0

		+bp-large
			columns: 3

		+bp-xxlarge
			columns: 4

		.sn-student-quote
			+bp-large
				padding: 4rem

.sn-quote-group
  columns: 1
  +bp-medium
  	columns: 2

.sn-student-quote
	padding: 0	
	display: inline-block
	margin: 0 0 6rem
	width: 100%
	position: relative
	z-index: 2
	+easeall

	&:hover
		+easeall
		p
			color: $c-white
			+easeall

		.sn-student-avatar
			transform: scale(1.05)
			+easeall
			img
				mix-blend-mode: luminosity
				+easeall

	&:after
		content: " "
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: rgba($c-dark-accent, 0)
		z-index: 0
		+easeall

	+bp-medium
		margin: 0 0 20px
		padding: 5.5rem
	
		&:hover
			&:after
				background: rgba($c-dark-accent, 1)
				transform: scale(1.025)
				+easeall

	p
		color: $c-grey-aa-large
		font-size: 1.5rem
		line-height: 100%
		display: inline-block
		padding-bottom: 2rem
		font-style: italic
		position: relative
		z-index: 2
		+easeall

		+bp-medium
			font-size: 2.25rem
			padding-bottom: 3.25rem

		em
			color: $c-dark
			+font-weight-demibold
			padding: 0 .25rem

	.sn-student
		display: grid
		grid-template-columns: 90px 1fr
		position: relative
		z-index: 2
		+bp-medium
			grid-template-columns: 120px 1fr

	.sn-student-avatar
		border-radius: 50%
		width: 60px
		height: 60px
		box-shadow: 0 0 0 0 $c-black
		+easeall

		img
			border-radius: 50%

		+bp-medium
			width: 80px
			height: 80px

	.sn-student-info
		text-align: left
		align-self: center

		+bp-medium
			text-align: right

		h4, h5
			font-size: 1em
			text-transform: uppercase

		h4
			color: $c-white
			line-height: 100%
			padding-bottom: .125rem

		h5
			color: $c-grey-aa












