h1, h2, h3, h4, h5
	+font-firs

h1
	color: $c-dark
	font-size: 7.5rem
	line-height: 75%
	+font-weight-black
	-webkit-text-stroke-width: 2px
	-webkit-text-stroke-color: $c-grey-aa-large
	+easeall

	+bp-xlarge
		font-size: 12rem
		+easeall

.sn-interior
	h1
		color: $c-light
		font-size: 4.5rem
		line-height: 80%
		+font-weight-black
		-webkit-text-stroke-width: 0

h2
	color: $c-light
	font-size: 4.5rem
	line-height: 75%
	+font-weight-black

h3
	color: $c-light
	font-size: 2.25rem
	line-height: 75%
	+font-weight-black

h4
	color: $c-light
	font-size: 1.5rem
	line-height: 75%
	+font-weight-bold

h5
	color: $c-grey-aa-large
	font-size: 1.125rem
	line-height: 75%
	text-transform: uppercase
	+font-weight-bold

h6
	color: $c-light
	font-size: 1.125rem
	line-height: 75%
	+font-weight-bold

a
	text-decoration: none
	color: $c-light
	+font-weight-demibold

p
	color: $c-grey-aa
	font-size: 1.125rem
	line-height: 150%
	+font-weight-medium
	max-width: 32rem
	padding-bottom: 2rem

p.callout
	color: $c-light
	font-size: 2.25rem
	line-height: 110%
	+font-weight-demibold
	max-width: none

p.large
	color: $c-grey-aaa
	font-size: 1.5rem
	line-height: 150%
	+font-weight-medium

p.xlarge
	color: $c-light
	font-size: 3.75rem
	line-height: 80%
	+font-weight-demibold


ul, ol
	@extend p

ul.feature-list
	margin-top: 0
	+font-weight-demibold
	li 
		+easeall
		cursor: default
		list-style: none
		margin: 0
		span
			color: $c-light
		div
			color: $c-red
			margin-right: .5rem
			display: inline-block
			transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55) .25s
			+easeall
		mark
			font-feature-settings: "smcp" 1
			color: $c-grey-aa
			background: none

		&:hover
			color: $c-light
			div
				transform: scale(1.5)

blockquote
	position: relative
	color: $c-red
	font-size: 1.5rem
	line-height: 110%
	+font-weight-demibold
	padding-left: 2rem
	padding-bottom: 2rem
	
	svg
		position: absolute
		top: 0
		left: 0

figcaption
	font-size: .875rem
	// text-transform: uppercase
	+font-weight-medium
	line-height: 90%
	color: $c-light
