h1, h2, h3, h4, h5
	+font-firs

=main-headline
 font-size: 2rem
 line-height: 100%
 +font-weight-demibold
 +easeall

 +bp-medium
 	font-size: 5rem
 	line-height: 90%
 	+easeall

h1
	color: $c-light
	+main-headline

.sn-interior
	h1
		color: $c-light
		font-size: 4.5rem
		line-height: 80%
		+font-weight-black
		-webkit-text-stroke-width: 0

h2
	color: $c-light
	font-size: 3rem
	line-height: 80%
	+font-weight-black
	+bp-medium
		font-size: 4.5rem

h3
	color: $c-light
	font-size: 2.25rem
	line-height: 75%
	+font-weight-black

h4
	color: $c-light
	font-size: 1.75rem
	line-height: 75%
	+font-weight-bold

h5
	color: $c-grey-aa
	font-size: 1rem
	line-height: 75%
	text-transform: uppercase
	+font-weight-bold

h6
	color: $c-light
	font-size: 1.125rem
	line-height: 75%
	+font-weight-bold

a
	text-decoration: none
	color: $c-light
	+font-weight-demibold
	box-shadow: inset 0 -2px 0 0 rgba($c-light, .2)
	+easeall
	&:hover
		color: $c-red
		box-shadow: inset 0 -1.75rem 0 0 rgba($c-red, .2)
		+easeall

p
	color: $c-grey-aa
	font-size: 1.125rem
	line-height: 160%
	+font-weight-medium
	max-width: 38rem
	padding-bottom: 2rem

	+bp-medium
		font-size: 1.25rem

	em
		font-style: italic
		color: $c-red
		padding: 0 .25rem
		// background: $c-yellow

p.callout
	color: $c-light
	font-size: 1.75rem
	line-height: 110%
	+font-weight-demibold
	max-width: none
	+bp-medium
		font-size: 2.25rem

p.large
	color: $c-grey-aa-large
	font-size: 1.5rem
	line-height: 150%
	+font-weight-medium

p.xlarge
	color: $c-grey-aa-large
	+main-headline

ul, ol
	@extend p

ol
	list-style-type: decimal
	margin-left: 1.5rem

ul.feature-list
	margin: 0
	+font-weight-demibold
	li 
		+easeall
		cursor: default
		list-style: none
		margin: 0
		span
			color: $c-light
		div
			color: $c-red
			margin-right: .5rem
			display: inline-block
			transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55) .25s
			+easeall
		mark
			font-feature-settings: "smcp" 1
			color: $c-grey-aa
			background: none

		&:hover
			color: $c-light
			div
				transform: scale(1.5)

ul.sn-work-yes li,
ul.sn-work-no li
	list-style-type: none
	+easeall

	&:before
		display: inline-block
		width: 1.75rem 
		margin-left: -1.8rem
		+easeall

	&:hover
		color: $c-light
		+easeall
		&:before
			transform: scale(1.25)
			+easeall

ul.sn-work-yes li:before
	content: "✓" 
	color: $c-teal

ul.sn-work-no li:before
	content: "✕" 
	color: $c-red


blockquote
	position: relative
	color: $c-red
	font-size: 1.25rem
	+font-weight-medium
	font-style: italic
	padding-left: 2rem
	padding-bottom: 2rem
	
	span
		font-style: normal

	svg
		position: absolute
		top: 0
		left: 0

figcaption
	font-size: .875rem
	+font-weight-medium
	line-height: 90%
	color: $c-light

.sn-red
	color: $c-red !important
	font-style: italic


.sn-uppercase
	font-variant: common-ligatures