
// hex
$c-white: white
$c-black: black
$c-dark: #111
$c-dark-accent: #181818
$c-grey-aa-large: #616161
$c-grey-aa: #7D7D7D
$c-grey-aaa: #9E9E9E
$c-light: #ECE9E4

// shift nudge colors
$c-teal: #00FFAA
$c-yellow: #FFD91A
$c-orange: #FF8C1A
$c-red: #FF4D6A
$c-pink: #FF33FF
$c-purple: #BB33FF
$c-blue: #00AAFF
$c-lightblue: #B2DAFF

// nested 
$c-primary: $c-red

// num
$animation-speed: 1.5s
$sn-radius: 6px