extends _includes/layout.pug

block head
	title Shift Nudge – Interface Design Course
	
block content
	.sn-wrap
		.sn-logo.sn-logo__default
			include _includes/sn-logo-radial

		


		

		//- include _includes/form
		//- include _includes/testimonials
		//- include _includes/foot

