extends ../_includes/layout.pug

block head
	title Shift Nudge – Woohoo

	block stylesandscripts
		link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
		link(id="favicon" rel="shortcut icon" href="../favicon.ico")
		
block content

	.sn-wrapper.sn-interior.sn-woohoo
		include ../_includes/header-interior
		.sn-text-video
			h1 Woohoo!

			.sn-order-details.sn-grid-12
				.sn-text
					p.callout So excited to have you in the course. Watch the video to see what happens next.
					p Once your payment has fully processed, you'll receive the following three emails:

					ol
						li Receipt Email (automatically via SendOwl)
						li Order Email (automatically via SendOwl)
						li Invitation to join Shift Nudge on Notion (manually)

				.sn-video
					.sn-video-wrap
						iframe(src="https://player.vimeo.com/video/450205752" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)

			.sn-order-details.sn-grid-12
				.sn-text
					

					p The SendOwl order will have a link that says "access your order here" and it will link you back to this very page. This is not ideal, but a necessary kink because I'm using Notion for hosting the course and they don't yet have an API I can tap into to automatically add you.
					p If you already have a Notion account under a different email than you used for purchase, just let me know via email and I will gladly update it for you.
					p If you happened to have purchased the course between the hours of 10PM – 6AM EST, it is highly likely I am asleep and will send your invite in the morning! 😅

					h4 Support
					p If you did not recieve all of those emails or have any other issues at all please email me <code>matt@mds.is</code> and I will take care of you as fast as humanly possible!
					p Your pal,
					p MDS
				

			

			include ../_includes/foot