extends ../_includes/layout.pug

block head
	title Shift Nudge – Refund Policy

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content

	.sn-wrapper.sn-interior.sn-team
		include ../_includes/header-interior
		.sn-interior-content
			h1 Refund Policy
			p.callout I'm not happy if you're not and I have no intention of keeping you locked in to something that you have decided is not for you. I'm serious about this.
			p But, there has to be an official policy on how this will work so here are the details.
			p From the time of purchase, you have 30-days to try the full course. At any point during that time you are eligible for a full refund. I will ask you if you've been able to implement the material in any of your homework and the reasons why it isn't working for you, but I understand that won't always be possible. Regardless of whether your homework has been completed or not, you are fully protected by this 30-day guarantee.
		.sn-faq-grid.sn-grid-12
			.sn-faq
				h4 What happens if I go past the 30-day period?
				p I understand there are extenuating circumstances from time to time and will handle those on a case by case basis. I can not guarantee a refund after 30 days, but will be very open to discussing this with you.
			.sn-faq
				h4 What if cancel my payments after 30 days?
				p You will lose access to the course and will not be refunded any previous payments.
			

		include ../_includes/foot-mini