extends ../_includes/layout.pug


block head
	title Shift Nudge – Join Private Beta

block content
	.sn-wrap
		include ../_includes/sn-logo
		h1 Shift Nudge <em>is a new online course that covers all the nitty-gritty details of crafting the visual side of UI. The course is taught through the lens of UX, with a detailed focus on designing beautiful <span class="fk-uppercase">&amp;</span> functional user interfaces.</em>

		//- ----------------
		- spotsLeft = "1"; 
		//- ----------------

		.sn-course-meta
			.sn-cta-group
				div
					a.sn-cta-primary(href='#join') Join Now 
					//- a.sn-cta-primary(href='#join') Join Now (#{spotsLeft} spots left)
					//- p Closes in <span class="sn-countdown">a limited time</span>
					//- p More text 

			.sn-instructor
				img(src='/_assets/img/mds.png' alt='mds')
				p Taught by <a href="https://twitter.com/mds"/>MDS</a>

		include ../_includes/video

		.sn-modules
			h2 8 Modules &bull; 85 Lessons
				span
					<a href="https://www.notion.so/Organizing-Design-Projects-f09f5cd328c74d89a6df492ef58c037c">Sample lesson ↗</a>
			include ../_includes/modules

		.sn-beta#join
			h1 Join the Private Beta</strong>
			//- h1 <strong>#{spotsLeft} Spots Left</strong>
			h2 6-monthly payments of $199
			.sn-callout
				
				p As one of the private beta students, you'll have exclusive early access to the course, as well as frequent interaction with MDS to answer questions, give critique, and provide feedback throughout your entire process. If you have questions about the beta, read the <a href="https://www.notion.so/Shift-Nudge-FAQs-2fef5e80ab9d4b84ab818a30c4ede4fc">Shift Nudge FAQs &rarr;</a>
				ul 
					//- li <div>✓</div> Closes in <span class="sn-countdown">a limited time</span>
					li <div>✓</div> Exclusive Early Access
					li <div>✓</div> In-Depth and Intensive Training
					li <div>✓</div> Best Practices of Interface Design
					li <div>✓</div> Shift Nudge Slack Community
					li <div>✓</div> Direct Feedback from MDS
					li <div>✓</div> 80+ Lessons on UI Design
					li <div>✓</div> Downloadable Design Files
					li <div>✓</div> Lifetime Access

			.sn-cta-group
				div
					a.sn-cta-primary(href='https://transactions.sendowl.com/subscriptions/12603/93E5BF6F/purchase' data-text="Get Instant Access") Get Instant Access
					p Save $197 <span class="fk-uppercase">&amp;</span> <a href="https://transactions.sendowl.com/products/78132160/20FB4AEC/purchase">Pay in Full</a>
	
		include ../_includes/testimonials
		include ../_includes/foot

	