extends ../../_includes/layout.pug

block head
	title Shift Nudge – Privacy Policy

	block stylesandscripts
		link(rel="stylesheet" type="text/css" href="../../_assets/shiftnudge.css")
		link(id="favicon" rel="shortcut icon" href="../../favicon.ico")
		
block content
	.sn-wrap
		.sn-body
			h1 <a href="javascript:history.back()">&larr;</a> Private Beta Transcript
			p Welcome to the Shift Nudge Private Beta. I'm honored that you're here. I want to take this time to give you as much detail as possible about the course and answer any questions you might have.
			h2 Why does this exist?
			p This course exists to build a foundation for each visual design pillar, to get hands on practice, to get experienced feedback on what works and what doesn&apos;t, and more importantly &quot;Why!?&quot;
			p I like to think of this course as &quot;art school in a box&quot; for interface design.
			p This course exists for current or future practitioners who want higher&ndash;education, design&ndash;school level curriculum without the hefty price tag or time commitment of big universities or expensive bootcamps.
			p I&apos;ve taught as a professor of design at the University of Georgia, I&apos;ve led lots of workshops at conferences all over the country, and even guest lectured at Harvard. There&apos;s never quite enough time to go into all of the details of great design. That is why I&apos;ve created this course. It&apos;s everything I know about the visual side of interface design.
			p Finally, this course exists to help you learn the techniques for creating beautiful and functional interface design.
			h2 Who is this for?
		
			p This course is for anyone who actually wants to get better at creating beautiful interfaces. To be more exact, here are the people who would benefit the most from this course:
			ul 
				li Aspiring designers
				li Recent art school graduates
				li Print designers
				li UX designs who have limited visual experience
				li Project managers who want to jump into the creative track
				li Developers who want their visual skills to match their dev skills
				li Struggling UI designers—or designers who feel stuck and unable to get over that &quot;hump&quot; of what it takes to produce truly great design.
			
			h2 Who this course is not for?

			p Someone who is already producing amazing designs. Kind of obvious, but if you&apos;re already crushing it then this is probably not the course for you. Unless you are truly a lifelong learner and want a refresh on the core principles of great design.
			p Someone who is very skeptical. I understand being skeptical, but taking this course will likely not help your skepticism. If you're not hungry to learn new concepts or re-learn old practices that are rusty for you, then this isn&apos;t going to be fun for you. I&apos;m not looking to convince skeptics here, I want to provide value for those hungry to learn.

			h2 What exactly is the course, what does it cover, what should I expect?
			
			p I&apos;ve written over 40,000 words preparing for the 80 plus lessons in this course. I&apos;ve consulted with a phD of education, presented my plans at mastermind groups, and have countlessly revised my curriculum in order to produce the absolute best material possible.
			p The course is broken down into 8 modules:
			ul
				li Get Started
				li Typography
				li Layout
				li Color
				li Style
				li Imagery
				li Elements
				li Tactics

			p Each module contains an average of 10 or more lessons
			p Each lessons contains a video that is around 20 minutes in length, as well as supplemental written content.
			p Each lesson is broken down into the following format, Why, What, How, Homework. I want each topic to be extremely clear on why it&apos;s important, have examples of what I&apos;m talking about, and live examples of how to create that particular thing. And perhaps most importantly is the homework that is assigned at the end of each lesson to solidify the principles taught in the video.
			p You will be encouraged to post you homework into the private Shift Nudge slack channel for feedback as well as the occasional nudge to post to your Dribbble profile. If you don&apos;t have a invite, I will personally make sure you get one.

			h2 When will the course be fully completed?
			
			p At the time of this writing (and recording the accompanying video) I&apos;ve recorded a little over 30 lessons and have edited a little over 20 of those lessons.
			p My plan moving forward is to record and edit 2 (or more) lessons per day until completion.
			p This current plan will have the last lesson wrapping up near the beginning of February.
			p As a beta student I would absolutely love for you to get started right away and try to watch and complete a minimum of one lesson per day. More if you are willing/able. Your feedback and questions will be absolutely invaluable to me. They will help fine-tune the content and make it the best it can be.
			p Also, I plan to have a special Beta Student section on the public site in spring of 2020 that will feature your avatar, your name, and a link to your portfolio. This will only be added with your personal permission and it&apos;s 100% OK if you&apos;d like to decline for any reason.
			
			h2 How long will it take and how does it work?
			p There are 80+ lessons in the full course, so at a leisurely pace of 1 lesson per weekday, it would take you roughly 16 weeks to complete. If you were more aggressive and completed 2 lessons per day (and the associated homework) it would take you 8 weeks or so.
			p I wouldn&apos;t recommend going too much faster than that or you risk not soaking in the information.
			
			h2 Other details?
			
			p 90% of the time I will be using Figma. 5% of the time I&apos;ll use Sketch. 5% of the time I&apos;ll show examples from Adobe XD, InVision Studio, and even a littel Framer X.
			p You however, are free to use any design software you&apos;d like. Figma is definitely not a requirement.
			p You are highly encouraged to reach out to me, ask questions, get feedback. Your success is my number one priority. Take advantage of being in the private beta and get as much as you can out of it. I will prompt you often, through the videos, and in the Slack channel, but it&apos;s up to you to put in the effort, ask questions, and anything else that can help propel you forward.
			p I&apos;ll host weekly design review calls for the group and as many ad hoc reviews with you as possible, beginning in January.
			p As a Private Beta student you will have priority support from me, and the ability to shape the direction of future lessons. I&apos;m planning to record and edit a minimum of 8 additional Q&amp;A videos for each module. Possibly more depending on the feedback during the beta.
			p What if you want access to the Private Beta, but for whatever reason won&apos;t have time until the new year to get started? That&apos;s completely fine and totally understandable. I will honor your private beta participation, for however long it takes you to make your way through the course.
			
			h2 How much does it cost?

			p Once I launch this course publicly, I will offer a mid-level tier that will include the same level of support private beta students will receive for $1997~
			p I will also have a lower tier that will include the full course and access to the Slack channel for only $997 or 6-payments of $199 each month. This tier will not include weekly video reviews from me, or guaranteed one-on-one feedback.
			p So for you, during the private beta launch only, I will be offering early access to the high-touch, hands on version of the course, for a one-time payment of $997, or $199/month for 6 months.
			p You will essentially get access to the course and to me for half off, plus the ability to get your feedback embedded directly into the course.
			p This course and the private beta students will be my number one priority for the next 3 months or so.
			p I will absolutely make sure you are taken care of!
			
			h2 On the fence?
			
			p I don&apos;t want to convince anyone who isn&apos;t ready, but if you&apos;re on the fence and have the means, then go for it! We will have an absolute blast and you will get tons of help from me. Remember this level of support will cost twice as much once I launch publicly in early Spring 2020.
			
			h2 What happens after purchase?
		
			p You&apos;ll receive an order confirmation email, followed by an automated email with your invitation to join the Slack Group.
			p I&apos;m hosting the entire Private Beta course on Notion, so once you&apos;ve enrolled, I will have to manually invite you to the Notion workspace. (Their API hasn&apos;t shipped yet, so I can&apos;t automate this yet.)
			p Once you receive the Notion invite, you will need a free Notion account to access the course, if you don&apos;t have one already.
			p As a Notion team member, I will give you the ability to read AND comment on the entire workspace, so any part you want to ask questions about, you can highlight and ask right in place.
			p I will monitor my emails extremely closely during this Private Beta launch, so I can send your Notion invite as fast as humanly possible.
			p If something goes wrong, send me an email: <code>matt@mds.is</code>

			h2 Enroll Now
			p If this all sounds good to you, then <a href=/join-private-beta#join>join now</a>!


			include ../../_includes/foot.pug
			
			