extends ../_includes/layout.pug

block head
	title Shift Nudge – Pro

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content

	- package					="Pro";
	- paymentMonthly	="4 payments of $299";
	- paymentOneTime	="1 payment of $997 <em>(save $199)</em>";
	- paymentURL			= "https://transactions.sendowl.com/subscriptions/15427/526D9F28/purchase";

	include ../_includes/join
	include ../_includes/review-group-1
	include ../_includes/foot-mini
