extends ../_includes/layout.pug

block head
	title Shift Nudge – Reviews

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content
	.sn-review-page.sn-interior-full
		include ../_includes/header-interior-full
		.sn-quote-group.grid
			
			//- review group 1

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Boma Josia";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/boma.jpg";
				- studentQuote	="This is the most impactful design course I’ve ever taken. I especially love the tasks for each lesson and personal feedback from MDS. <em>It’s all been incredibly worthwhile!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Jenny Vogel";
				- studentTitle	="Growflow";
				- studentImage	="../_assets/img/students/jenny.jpg";
				- studentQuote	="<em>I would’ve paid 4x more for this course</em>—Matt is an incredible teacher! This was exactly what I needed to take my designs to the next level.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Ramon Gilabert";
				- studentTitle	="Microsoft";
				- studentImage	="../_assets/img/students/ramon.jpg";
				- studentQuote	="I’ve taken many courses—recently a masters in interaction design—and I’ve read every book, but your course is by far the most comprehensive, well explained, well structured, and <em>most actionable resource in design I’ve ever taken.</em>";
				include ../_includes/quote.pug


			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Stephen Asonye";
				- studentTitle	="Order My Gear";
				- studentImage	="../_assets/img/students/stephen.jpg";
				- studentQuote	="Not gonna lie... this is the <em>best design course</em> I've ever taken.";
				include ../_includes/quote.pug





			//- review group 2

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Kakau Fonseca";
				- studentTitle	="Nubank";
				- studentImage	="../_assets/img/students/kakau.jpg";
				- studentQuote	="<em>I'm in love with</em> your course and the way you explain things. Thanks again!";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Chibuzor";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/chibuzor.jpg";
				- studentQuote	="The course content is so <em>thoughtfully put together and so well-taught.</em> Premium, timeless, the best course I've ever taken.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Anipier Bérubé";
				- studentTitle	="ENDVR.IO";
				- studentImage	="../_assets/img/students/anipier.jpg";
				- studentQuote	="Just wanted to tell you <em>how happy I am that i found your class.</em> It’s short, clean, clear, and organized. Thank you so much!";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Michelle Lu";
				- studentTitle	="Viralspace.ai";
				- studentImage	="../_assets/img/students/michelle.jpg";
				- studentQuote	="<em>Blown away by your level of feedback...</em> Definitely getting my value out of this class!";
				include ../_includes/quote.pug
				



			//- review group 3


			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Charlsy Yang";
				- studentTitle	="Student";
				- studentImage	="../_assets/img/students/charlsy.jpg";
				- studentQuote	="As someone who loves typography but doesn’t have a design background <em>this has been the art school experience I’ve always wanted,</em> love it!";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Kris Puckett";
				- studentTitle	="Knapsack";
				- studentImage	="../_assets/img/students/kris.jpg";
				- studentQuote	="<em>It’s such a gift to be part of Shift Nudge</em> and to have Matt as a leader in the community.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Tiffany C Yu";
				- studentTitle	="Outline";
				- studentImage	="../_assets/img/students/tiffany.jpg";
				- studentQuote	="Matt helped identify areas where I could improve to take my designs to the next level. <em>This was definitely a good investment for my career!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Jonah Stefanovic";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/jonah.jpg";
				- studentQuote	="I’ve learned more from this course in one week than a full year of being self-taught! <em>Very glad I made the decision to join.</em>";
				include ../_includes/quote.pug







			//- review group 4

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Tom Gianattasio";
				- studentTitle	="Clover";
				- studentImage	="../_assets/img/students/atassi.jpg";
				- studentQuote	="Matt is a rarity. Not only is he <em>one of the most talented designers in the game,</em> he also has an incredible knack for teaching and inspiring others.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Arjen Harris";
				- studentTitle	="Product Manager";
				- studentImage	="../_assets/img/students/arjen.jpg";
				- studentQuote	="Just wanted to say I <em>really appreciate the elaborate feedback</em> on the homework man, really makes the course shine!";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Jack Winchester";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/jack.jpg";
				- studentQuote	="Loving the course content, btw. It’s greatly increased my confidence in my abilities. So many things I have taken away from this course! It's safe to say <em>the amount of value I have obtained from this has been immense.</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Hasan Ansari";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/hasan.jpg";
				- studentQuote	="Really grateful for the course you’ve put together. I’ve <em>learned a lot from the lessons and really enjoyed them.</em> Thank you!";
				include ../_includes/quote.pug





			//- review group 5


			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Yehezkel Lipinsky";
				- studentTitle	="Deloitte Digital";
				- studentImage	="../_assets/img/students/yehezkel.jpg";
				- studentQuote	="This course <em>has been so additive to my design practice,</em> and the results can be seen in my professional work.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Bryan Joel";
				- studentTitle	="UI8";
				- studentImage	="../_assets/img/students/bryan.jpg";
				- studentQuote	="<em>The course has been fantastic.</em> I’m definitely learning something valuable.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Abeer Qamer";
				- studentTitle	="Student";
				- studentImage	="../_assets/img/students/abeer.jpg";
				- studentQuote	="I just discovered Shift Nudge and fell in love with it. <em>The course structure is really amazing!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Yassine Bakiri";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/yassine.jpg";
				- studentQuote	="I've approached your course with a pinch of salt at the beginning, dreading that it would be scratching the surface like lots of online courses that I've found in the past. And I'm so glad I was wrong! <em>No regrets, money well invested.</em>";
				include ../_includes/quote.pug






			//- review group 6

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Denis Zhelyazkov";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/denis.jpg";
				- studentQuote	="This course is <em>FREAKING LIT!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Caden Damiano";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/caden.jpg";
				- studentQuote	="The course is great and very rigorous. A big committment, but <em>it’s worth it!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Christian Cardenas";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/christian.jpg";
				- studentQuote	="Absolutely love your course, <em>it's been helping me a ton</em> as I work on client projects and implementing every new thing I learn onto each project!";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Ben";
				- studentTitle	="Recent Grad";
				- studentImage	="../_assets/img/students/ben.jpg";
				- studentQuote	="The best course I have ever bought! <em>It has helped me land my first job after graduating and it’s been a reference I use almost everyday.</em> I can say your quality and quantity is the highest bar.";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Diamond Alexander";
				- studentTitle	="Advice Pay";
				- studentImage	="../_assets/img/students/diamond.jpg";
				- studentQuote	="The level of detail, expertise, theory, and genuine craftsmanship that has gone into this course is incredible. It's well worth the investment and more. <em>Matt's knowledge and production value are amazing—I'm so glad I joined!</em>";
				include ../_includes/quote.pug

			//- -------- quote -------- //
			.sn-student-quote.item
				- studentName		="Yannik Sprengart";
				- studentTitle	="Student";
				- studentImage	="../_assets/img/students/yannik.jpg";
				- studentQuote	="<em>The only design course you will ever need to take!</em> Practical knowledge and real world examples from one of the industry's leaders. All you need to get started OR to take your design skills to a new level.";
				include ../_includes/quote.pug

			//- more
			.sn-student-quote.item
				- studentName		="Brandon Pittman";
				- studentTitle	="Developer";
				- studentImage	="../_assets/img/students/brandon.jpg";
				- studentQuote	="<em>Matt's friendly presentation style made design approachable and easy to understand.</em> He provides a lot of helpful examples in every lesson and the homework assignments are challenging and highly applicable.";
				include ../_includes/quote.pug

			.sn-student-quote.item
				- studentName		="Shalaka Mulherkar";
				- studentTitle	="Designer";
				- studentImage	="../_assets/img/students/shalaka.jpg";
				- studentQuote	="Before I was trying to learn UI Design by myself without any guidance.<em>I'm so glad I found this structured course to pave the way.</em> I'm gaining more and more confidence with every exercise. Thank you MDS!";
				include ../_includes/quote.pug

			.sn-student-quote.item
				- studentName		="Brad Frost";
				- studentTitle	="Atomic Design";
				- studentImage	="../_assets/img/students/brad.jpg";
				- studentQuote	="<em>I’ve had the pleasure of working with Matt on client work and he’s a very very very good designer.</em> His course will undoubtedly help you become a better designer.";
				include ../_includes/quote.pug


				

			
		include ../_includes/final-cta
		include ../_includes/foot-mini




				