extends ../_includes/layout.pug

block head
	title Shift Nudge – Code of Conduct

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content

	.sn-wrapper.sn-interior.sn-team
		include ../_includes/header-interior
		.sn-interior-content
			h1 FAQs
			p.callout You've got questions, I've got answers. Keep reading mi amigo.
			
			

		include ../_includes/foot