extends ../_includes/layout.pug

block head
	title Shift Nudge – Form Test

	block stylesandscripts
		link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
		link(id="favicon" rel="shortcut icon" href="../favicon.ico")
		
block content
	.sn-wrap
		include ../_includes/form