h1, h2, h3, h4, h5
	+font-firs

h1
	color: $c-light
	font-size: 7.5rem
	line-height: 75%
	+font-weight-black
	padding-bottom: 4rem

h2
	color: $c-light
	font-size: 4.5rem
	line-height: 75%
	+font-weight-black
	padding-top: 3rem
	padding-bottom: 2rem

h3
	color: $c-light
	font-size: 1.5rem
	line-height: 75%
	+font-weight-bold
	padding-top: 3rem
	padding-bottom: 1.125rem

h4
	color: $c-grey-aa-large
	font-size: 1.125rem
	line-height: 75%
	text-transform: uppercase
	+font-weight-bold
	padding-top: 3rem
	padding-bottom: 1.125rem

h5
	color: $c-light
	font-size: 1.125rem
	line-height: 75%
	+font-weight-bold
	padding-top: 3rem
	padding-bottom: .75rem

p
	color: $c-grey-aaa
	font-size: 1.125rem
	line-height: 150%
	+font-weight-medium
	padding-bottom: 1.5rem

p.callout
	color: $c-light
	font-size: 2.25rem
	line-height: 110%
	+font-weight-demibold
	padding-bottom: 1.5rem

p.large
	color: $c-grey-aaa
	font-size: 1.5rem
	line-height: 150%
	+font-weight-medium
	padding-bottom: 1.5rem


blockquote
	color: $c-red
	font-size: 1.5rem
	line-height: 110%
	+font-weight-demibold
	padding-bottom: 1.5rem
