extends ../_includes/layout.pug

block head
	title Shift Nudge – Core

	block stylesandscripts
	link(rel="stylesheet" type="text/css" href="../_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="../favicon.ico")
	
block content

	- package					="Core";
	- paymentMonthly	="6 payments of $199";
	- paymentOneTime	="1 payment of $997 <em>(save $197)</em>";
	- alternate       ="<a href='/pro'>Want the Pro Plan instead?</a>";
	- paymentURL       ="https://transactions.sendowl.com/subscriptions/15428/AB8F3CAF/purchase";

	include ../_includes/join
	include ../_includes/review-group-1
	include ../_includes/foot-mini
