<svg id="start" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
	<circle class="icon-bg" opacity="1" cx="36" cy="36" r="36" fill="#111"/>
	<path class="start-triangle" d="M34 26.7351C34 23.4889 37.663 21.5947 40.3121 23.471L53.3919 32.7359C55.6424 34.3301 55.6424 37.6699 53.3919 39.2641L40.3121 48.529C37.663 50.4053 34 48.5111 34 45.2649V26.7351Z" fill="currentColor"/>
	<rect class="start-line" opacity="0.6" x="16" y="31" width="16" height="10" rx="5" fill="currentColor"/>
</svg>