<svg id="tactics" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
	<circle class="icon-bg" opacity="1" cx="36" cy="36" r="36" fill="#111"/>
	<path class="tactics-back" opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M27 15.5C29.4853 15.5 31.5 17.5147 31.5 20V40.5H52C54.4853 40.5 56.5 42.5147 56.5 45C56.5 47.4853 54.4853 49.5 52 49.5H27C24.5147 49.5 22.5 47.4853 22.5 45V20C22.5 17.5147 24.5147 15.5 27 15.5Z" fill="currentColor"/>
	<path class="tactics-front" fill-rule="evenodd" clip-rule="evenodd" d="M45 56.5C42.5147 56.5 40.5 54.4853 40.5 52V31.5H20C17.5147 31.5 15.5 29.4853 15.5 27C15.5 24.5147 17.5147 22.5 20 22.5H45C47.4853 22.5 49.5 24.5147 49.5 27V52C49.5 54.4853 47.4853 56.5 45 56.5Z" fill="currentColor"/>
</svg>