extends _includes/layout.pug

block head
	title Shift Nudge – Interface Design Course
	
block content		
	//- include _includes/hero
	//- include _includes/review-group-1
	//- include _includes/overview
	//- include _includes/mds
	include _includes/modules
	//- include _includes/critique-vault
	//- include _includes/how
	//- include _includes/right-for-me
	//- include _includes/pricing
	//- include _includes/pricing-faqs
	//- include _includes/review-group-2
	//- include _includes/final-cta
	//- include _includes/foot

