extends _includes/layout.pug

block head
	title Shift Nudge – Interface Design Course

block stylesandscripts
	link(rel="stylesheet" type="text/css" href="_assets/shiftnudge.css")
	link(id="favicon" rel="shortcut icon" href="/favicon.ico")
	
block content
	.sn-wrap
		.sn-logo
			include _includes/sn-logo
		h1 Shift Nudge <span>is a new online course covering all the nitty-gritty details of crafting the visual side of UI&mdash;art direction, color, layout, typography, style, imagery, tactics, and more. The course is taught through the lens of UX, with a focus on designing beautiful and functional interfaces.</span>
		.sn-course-meta 
			.sn-cta-group
				div
					a.sn-cta-primary(href='#join' data-text="Join the Paid Beta") Join the Paid Beta
					p Closes in <span class="sn-countdown">a limited time</span>
			.sn-instructor
				img(src='_assets/img/mds.png' alt='mds')
				p Taught by <a href="https://twitter.com/mds"/>MDS</a>
		.sn-modules
			h2 8 Modules &bull; 84 Lessons
			.sn-module-group

				//- module
				.sn-module.sn-module-start
					.sn-module-icon
						<svg id="start" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#2EE5A8"/>
						<path class="start-triangle" d="M34 26.7351C34 23.4889 37.663 21.5947 40.3121 23.471L53.3919 32.7359C55.6424 34.3301 55.6424 37.6699 53.3919 39.2641L40.3121 48.529C37.663 50.4053 34 48.5111 34 45.2649V26.7351Z" fill="#2EE5A8"/>
						<rect class="start-line" opacity="0.6" x="16" y="31" width="16" height="10" rx="5" fill="#2EE5A8"/>
						</svg>
					.sn-module-content
						h3 Start
						h4 9 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Welcome to the Course
								li How Everything Works
								li Pro-Designer Mindset
								li Choosing Design Doftware
								li UX vs. UI (A-•-•-•-B)
								li Design Process Overview
								li Using Reference Material
								li Quick Keys For Fast Workflow
								li Organizing Design Projects
						
				//- module
				.sn-module.sn-module-typography
					.sn-module-icon
						<svg id="typography" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#FFD333"/>
						<rect class="typography-top" x="17" y="22" width="38" height="8" rx="4" fill="#FFD333"/>
						<rect class="typography-middle" opacity="0.8" x="17" y="32" width="22" height="8" rx="4" fill="#FFD333"/>
						<rect class="typography-bottom" opacity="0.6" x="17" y="42" width="30" height="8" rx="4" fill="#FFD333"/>
						</svg>
					.sn-module-content
						h3 Typography
						h4 10 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Font Size
								li Font Weight
								li Hierarchy
								li Titles &amp; Body
								li Callouts
								li Text Style Definitions
								li Interactive Text
								li Combining Text &amp; Element
								li Start With System Fonts
								li Using Alternate Fonts

				//- module
				.sn-module.sn-module-layout
					.sn-module-icon
						<svg id="layout" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#FF7E44"/>
						<rect class="layout-bottom" opacity="0.6" x="17" y="44" width="38" height="10" rx="4" fill="#FF7E44"/>
						<rect class="layout-right" opacity="0.8" x="43" y="18" width="12" height="24" rx="4" fill="#FF7E44"/>
						<rect class="layout-left" x="17" y="18" width="24" height="24" rx="4" fill="#FF7E44"/>
						</svg>
					.sn-module-content
						h3 Layout
						h4 10 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li The Box Model
								li Screen Layout
								li Grids and Containers
								li Implicit Grid
								li High &amp; Low Density
								li Negative Space
								li Alignment
								li Optics vs. Math
								li Scale, Weight, &amp; Hierarchy
								li Affordance

				//- module
				.sn-module.sn-module-color
					.sn-module-icon
						<svg id="color" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#ED5151"/>
						<path class="color-bottom" opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M50 53L32.7281 53L48.7281 37L50 37C52.2091 37 54 38.7908 54 41V49C54 51.2091 52.2091 53 50 53Z" fill="#ED5151"/>
						<path class="color-middle" opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M37.6703 23.0784C39.2324 21.5163 41.7651 21.5163 43.3272 23.0784L48.984 28.7353C50.5461 30.2974 50.5461 32.83 48.984 34.3921L37.0007 46.3755L37.0007 23.748L37.6703 23.0784Z" fill="#ED5151"/>
						<path class="color-left" fill-rule="evenodd" clip-rule="evenodd" d="M23 18C20.7909 18 19 19.7909 19 22V45C19 49.4183 22.5817 53 27 53C31.4183 53 35 49.4183 35 45V22C35 19.7909 33.2092 18 31 18H23ZM27 48C28.6569 48 30 46.6569 30 45C30 43.3431 28.6569 42 27 42C25.3432 42 24 43.3431 24 45C24 46.6569 25.3432 48 27 48Z" fill="#ED5151"/>
						</svg>
					.sn-module-content
						h3 Color
						h4 10 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Color Picking Methods
								li Color Contrast &amp; Accessibility
								li Structural vs. Interactive
								li Primary, Secondary, &amp; Tertiary
								li Strategic Color Definitions
								li Color Amount &amp; Modification
								li 50 Shades of Grey
								li Gradients
								li White &amp; Almost White
								li Design for Dark Mode

				//- module
				.sn-module.sn-module-style
					.sn-module-icon 
						<svg id="style" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#FD53B4"/>
						<g class="style-lines">
						<path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M24 34C26.2091 34 28 35.7909 28 38V39C28 41.7614 30.2386 44 33 44H34C36.2091 44 38 45.7909 38 48C38 50.2091 36.2091 52 34 52H33C25.8203 52 20 46.1797 20 39V38C20 35.7909 21.7909 34 24 34Z" fill="#FD53B4"/>
						<path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M48 38C45.7909 38 44 36.2091 44 34V33C44 30.2386 41.7614 28 39 28H38C35.7909 28 34 26.2091 34 24C34 21.7909 35.7909 20 38 20H39C46.1797 20 52 25.8203 52 33V34C52 36.2091 50.2091 38 48 38Z" fill="#FD53B4"/>
						</g>
						<rect class="style-bottom" x="40" y="40" width="16" height="16" rx="4" fill="#FD53B4"/>
						<rect class="style-top" x="16" y="16" width="16" height="16" rx="4" fill="#FD53B4"/>
						</svg>
					.sn-module-content
						h3 Style
						h4 10 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Design Direction
								li Subtlety is Key
								li Corner Radius
								li Borders and Dividers
								li Depth, Lighting and Shadow
								li Opacity &amp; Blur
								li Button Styles
								li Form vs. Function
								li Accents &amp; Decoration
								li Reusable Style

				//- module
				.sn-module.sn-module-imagery
					.sn-module-icon
						<svg id="imagery" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#C34CFF"/>
						<ellipse class="imagery-circle" cx="27.5" cy="19.5" rx="5.5" ry="5.5" fill="#C34CFF"/>
						<path class="imagery-back" opacity="0.6" d="M19.5563 31.8278C21.1045 29.2077 24.8955 29.2077 26.4437 31.8278L32.4339 41.9651C34.0096 44.6316 32.0874 48 28.9902 48H17.0098C13.9126 48 11.9905 44.6315 13.5661 41.9651L19.5563 31.8278Z" fill="#C34CFF"/>
						<path class="imagery-front" d="M37.5523 21.8612C39.0989 19.2319 42.9011 19.2319 44.4477 21.8612L57.4541 43.9719C59.0226 46.6385 57.1 50 54.0063 50H27.9937C24.9 50 22.9774 46.6385 24.5459 43.9719L37.5523 21.8612Z" fill="#C34CFF"/>
						</svg>
					.sn-module-content
						h3 Imagery
						h4 11 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Imagery Overview
								li Blend Modes
								li Dynamic Images
								li Resourceful Asset Collection
								li Icon Design
								li Background Images
								li Text on Images
								li Photo Manipulation
								li Creating Simple Illustrations
								li Photo Usage Protips
								li Using Video

				//- module
				.sn-module.sn-module-elements
					.sn-module-icon
						<svg id="elements" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#3399FF"/>
						<rect class="elements-bottom-left" opacity="0.6" x="17" y="36" width="18" height="18" rx="4" fill="#3399FF"/>
						<rect class="elements-top-right" opacity="0.6" x="37" y="16" width="18" height="18" rx="4" fill="#3399FF"/>
						<rect class="elements-top-left" x="17" y="16" width="18" height="18" rx="4" fill="#3399FF"/>
						<path class="elements-arrow" fill-rule="evenodd" clip-rule="evenodd" d="M41 36C38.7909 36 37 37.7909 37 40V51.1716C37 52.9534 39.1543 53.8457 40.4142 52.5858L44.1716 48.8284L49.1716 53.8284C50.7337 55.3905 53.2663 55.3905 54.8284 53.8284C56.3905 52.2663 56.3905 49.7337 54.8284 48.1716L49.8284 43.1716L53.5858 39.4142C54.8457 38.1543 53.9534 36 52.1716 36H41Z" fill="#3399FF"/>
						</svg>
					.sn-module-content
						h3 Elements
						h4 12 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Navigation
								li Authentication
								li Lists &amp; Cards
								li Lists &amp; Details
								li Profile
								li Settings
								li Notifications
								li Sorting, Filtering, &amp; Editing
								li Alerts, Modals, Interstitials
								li Interactive Elements
								li Forms &amp; Input
								li Component Abstraction

				//- module
				.sn-module.sn-module-tactics
					.sn-module-icon
						<svg id="tactics" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="icon-bg" opacity="0.1" cx="36" cy="36" r="36" fill="#EEEEEE"/>
						<path class="tactics-back" opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M27 15.5C29.4853 15.5 31.5 17.5147 31.5 20V40.5H52C54.4853 40.5 56.5 42.5147 56.5 45C56.5 47.4853 54.4853 49.5 52 49.5H27C24.5147 49.5 22.5 47.4853 22.5 45V20C22.5 17.5147 24.5147 15.5 27 15.5Z" fill="#EEEEEE"/>
						<path class="tactics-front" fill-rule="evenodd" clip-rule="evenodd" d="M45 56.5C42.5147 56.5 40.5 54.4853 40.5 52V31.5H20C17.5147 31.5 15.5 29.4853 15.5 27C15.5 24.5147 17.5147 22.5 20 22.5H45C47.4853 22.5 49.5 24.5147 49.5 27V52C49.5 54.4853 47.4853 56.5 45 56.5Z" fill="#EEEEEE"/>
						</svg>
					.sn-module-content
						h3 Tactics
						h4 12 Lessons &bull;&nbsp;2h 30m
						.sn-lessons
							ol
								li Putting Everything Together
								li No-stress Design Experiments
								li Interface Copywriting
								li Responsive Design
								li Mobile First
								li iOS Design
								li Material Design
								li Design File Organization
								li Animation &amp; Prototyping
								li Developer Handoff
								li Leading Design Reviews
								li Getting Work


		.sn-beta#join
			h1 Paid Beta
			h2 6-monthly payments of $199
			.sn-callout
				p As a beta student, you'll have exclusive early access to the course, as well as frequent interaction with MDS to answer questions, give critique, and provide feedback throughout your entire process. Once the course closes, registration won't open again until later in 2020.
				ul 
					li <div>✓</div> Closes in <span class="sn-countdown">a limited time</span>
					li <div>✓</div> Exclusive Early Access
					li <div>✓</div> In-Depth and Intensive Training
					li <div>✓</div> Best Practices of Interface Design
					li <div>✓</div> Access to Shift Nudge Slack
					li <div>✓</div> Direct Feedback from MDS
					li <div>✓</div> Over 16 Hours of Video Content
					li <div>✓</div> Downloadable Design Files
					li <div>✓</div> Lifetime Access
			.sn-cta-group
				div
					a.sn-cta-primary(href='https://transactions.sendowl.com/subscriptions/12603/93E5BF6F/purchase' data-text="Get Instant Access") Get Instant Access
					p Save $197 &amp; <a href="https://transactions.sendowl.com/products/78132160/20FB4AEC/purchase">Pay in Full</a>
		.sn-foot
			.sn-qa
				h4 <a href="https://www.notion.so/Shift-Nudge-Q-A-242fbcedfe4b4ac69cf2bae6f8a8f86b">Ask a Question on Notion<div>↗</div></a>
			.sn-legal
				h4 <span class="copyright">&copy;2019</span> MDS •   
					a(href="/privacy" class="glitch-txt")  Privacy

	script(type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js")
	script(type="text/javascript" src="_assets/js/shiftnudge.js")

	