extends _includes/layout.pug

block head
	title Shift Nudge – Interface Design Course
	
block content		
	include _includes/header
	include _includes/hero
	include _includes/review-group-1
	include _includes/overview
	include _includes/amplify 
	include _includes/mds
	include _includes/my-story
	include _includes/review-group-2
	include _includes/why-not
	include _includes/review-group-3
	//- include _includes/start-small
	include _includes/modules
	//- include _includes/critique-vault
	.sn-wrapper 
		p course walkthrough video here?

	include _includes/how
	include _includes/review-group-4
	include _includes/right-for-me
	include _includes/review-group-5
	include _includes/faqs
	include _includes/guarantee
	include _includes/pricing
	include _includes/pricing-faqs
	include _includes/review-group-6

	//- .sn-wrapper.sn-long-form
	//- 	h2 One-step away
	//- 	p video here about making the decision?

	include _includes/final-cta
	include _includes/foot

