extends ../_includes/layout.pug


block head
	title Shift Nudge – Private Beta Closed

block content
	.sn-wrap
		include ../_includes/sn-logo

		h1 Shift Nudge <em> private beta is now closed. The public version of the course is scheduled for launch in Spring 2020. If you're on the email list, you'll get notified once it's open for enrollment.</em>

		.sn-course-meta 
			.sn-cta-group
				div
					a.sn-cta-primary(href='/') Back Home
			.sn-instructor
				img(src='/_assets/img/mds.png' alt='mds')
				p Taught by <a href="https://twitter.com/mds"/>MDS</a>
		
		include ../_includes/foot

	